<!--_meta 公共模版-->
{include file="/common/_meta" /} 
<!--/meta 公共模版-->
<title>kefidchina</title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body>
<!--_header 公共模版-->
{include file="/common/_header" /} 
<!--/_header 公共模版-->

<!--_menu 公共模版-->
{include file="/common/_menu" /} 
<!--/_menu 公共模版-->

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a> 
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<p class="f-20 text-success">欢迎使用kefidchina
				<span class="f-14">v0.1</span>
				后台管理系统！</p>
			<p>本次登录IP：{$ip}</p>
			<table class="table table-border table-bordered table-bg">
				<thead>
					<tr>
						<th colspan="7" scope="col">信息统计</th>
			</tr>
					<tr class="text-c">
						<th>统计</th>
						<th>文章</th>
						<th>产品库</th>
						<th>用户</th>
						<th>管理员</th>
			</tr>
		</thead>
				<tbody>
					<tr class="text-c">
						<td>总数</td>
						<td>{$countArt}</td>
						<td rowspan="5">{$proCount}</td>
						<td rowspan="5">{$userCount}</td>
						<td rowspan="5">{$adminCount}</td>
			</tr>
					<tr class="text-c">
						<td>今日</td>
						<td>{$todayArt}</td>

			</tr>
					<tr class="text-c">
						<td>昨日</td>
						<td>{$yesterdayArt}</td>

			</tr>
					<tr class="text-c">
						<td>本周</td>
						<td>{$weekArt}</td>

			</tr>
					<tr class="text-c">
						<td>本月</td>
						<td>{$monthArt}</td>

			</tr>
		</tbody>
	</table>
			<table class="table table-border table-bordered table-bg mt-20">
				<thead>
					<tr>
						<th colspan="2" scope="col">服务器信息</th>
			</tr>
		</thead>
				<tbody>
					<tr>
						<th width="30%">服务器计算机名</th>
						<td><span id="lbServerName">未知</span></td>
			</tr>
					<tr>
						<td>服务器IP地址</td>
						<td>{:$_SERVER["SERVER_NAME"]}</td>
			</tr>
					<tr>
						<td>浏览器信息</td>
						<td>{:$_SERVER["HTTP_USER_AGENT"]}</td>
			</tr>
					<tr>
						<td>服务器端口 </td>
						<td>{:$_SERVER["SERVER_PORT"]}</td>
					<tr>
						<td>服务器的语言种类 </td>
						<td>{$_SERVER["HTTP_ACCEPT_LANGUAGE"]}</td>
			</tr>
					<tr>
						<td>123</td>
						<td>{$Think.server.script_name}</td>
			</tr>

		</tbody>
	</table>
</article>
		<footer class="footer">
			<p>感谢jQuery、layer、laypage、Validform、UEditor、My97DatePicker、iconfont、Datatables、WebUploaded、icheck、highcharts、bootstrap-Switch<br> Copyright &copy;2015 H-ui.admin v3.0 All Rights Reserved.<br> 本后台系统由<a href="http://www.h-ui.net/" target="_blank" title="H-ui前端框架">H-ui前端框架</a>提供前端技术支持</p>
</footer>
</div>
</section>

<!--_footer 作为公共模版-->
{include file="/common/_footer" /} 
<!--/_footer /作为公共模版-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
$("#search").change(function(){
	$("#Isearch").attr("href","listall.html?kw=" + $("#search").val())
})
$("#menu-article dt").addClass("selected");
$("#menu-article dd").show();
</script>
<!--/请在上方写此页面业务相关的脚本-->

<!--此乃百度统计代码，请自行删除-->

<!--/此乃百度统计代码，请自行删除-->
</body>
</html>