.case_article_tcolor_b{
	color:#2f3443;
	font-family: 'Arial';
}
.case_article_title {
	display: block !important;
}
.case_article_pic dl dt{
	color:#253142;
	text-transform: uppercase;
}
.case_article_pic dl>dd:first-child{
	padding-top: 0px;
}
.case_article_pic dl>dd:last-child{
	line-height: 24px;
}
.case_article_pic dl>dd strong{
	text-transform: uppercase;
}
.case_article_pic dl  dd{
	color:#525252;
}
.case_article_pic div{
	margin-top: 32px;
}
.case_article_pic img{
	max-width: 100%;
}
.case_article_pic .case_article_message{
	margin-top: 40px;
}
.case_article_message>a:first-child{
	padding-right: 45px;
	padding-left: 45px;
}
.case_article_message>a:last-child{
	margin-left: 30px;
	padding-left: 20px;
	padding-right: 20px;
}
.case_article_des dt{
	font-size: 16px;
	margin-top: 10px;
	color:#253142;
	text-transform:Capitalize;
}

.case_article_dess dt{
	font-size: 16px;
	margin-top: 11px;
}
.case_article_dess dt:first-child{
	margin-bottom: 20px;
}
.case_article_dess dt:nth-last-of-type(1){
	margin-top: 15px;
	margin-bottom: -20px;
	
}
.case_article_des dd{
	line-height: 24px;
}
.case_article_des p{
	margin-bottom: 10px;
}
.case_article_des dt:first-child{
	margin-top: 53px;
}
.case_article_nec .img-responsive{
	margin:0 auto;

}
.case_article_nec p{
	color: #da3003;
	font-size:16px; 
	font-weight: bold;
}

.case_article_related div{
	margin-top: 16px;
}
.case_article_related img{
	margin: 0 auto;
	width: 100%;
}
.case_article_related{
	/*margin-bottom: 45px;*/
}
.about_footer_l>li:first-child a{
	color: #da3003;
}
#bd{
	margin-bottom: 60px;
}
/*轮播start*/
.case_article_related p{
	font-weight: bold;
	margin-top: 10px;
	padding-left: 10px;

}
/*轮播end*/

@media(max-width: 370px){
	.case_article_message>a:last-child{
		clear:both;
		margin-top:15px;
		margin-left: 0px;
		width: 100%;
		text-align: center;
	}
	.case_article_message>a:first-child{
		margin-top:-10px;
		width: 100%;
		text-align: center;
	}
}
@media(max-width: 759px){
	.case_article_title{
	font-size: 14px;
	margin-top: 30px;
	font-weight: bold;
}

}

@media(min-width: 760px){
	.case_article_title{
	font-size: 15px;
	margin-top: 30px;
	font-weight: bold;
}
	.case_article_related{
		margin-left: -10px;
	}
	.case_article_related .carousel{
		margin-left: -15px;
	}
	.case_article_related .item{
		padding-left: 23px;
	}

}

@media(min-width: 1000px){
	.case_article_title{
	font-size: 18px;
	margin-top: 30px;
	font-weight: bold;
}
}

@media(min-width: 1200px){
	.case_article_title{
	font-size: 22px;
	margin-top: 50px;
}
}