<!DOCTYPE html>
<html>
<head>
	<title>Crushing, Grinding, Mobile Crusher - {dede:global.cfg_webname/}</title>
	<meta name="keywords" content="Crushing, Grinding" />
	<meta name="description" content="As a professional and experienced manufacturer of mobile crusher,jaw crusher,cone crusher,impact crusher,ball mill,super fine mill and vertical mill,Kefid not only provide outstanding quality machine,but also offer complete business solution to you." />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta content="telephone=no" name="format-detection">
	<meta content="email=no" name="format-detection">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<link rel="stylesheet" href="/css/pintuer.css">
	<link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/about.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/pintuer.js"></script>
    <script src="/js/respond.js"></script>
     <script src="/js/footer.js"></script>
     <script src="/js/img.js"></script>

<meta name="google-site-verification" content="21bYC2MlmxNFuBxuz-HvBpPekqx_KaUgxcShPBQycIQ" />
</head>
<body id="ho">
	{include file="/common/_header_about" /}
	<article class="index_article">
		<div class="banner container index_top_banner" data-pointer='1' data-interval='5'>
	<div class="carousel text-center">
			<!-- <div class="item">
				<a href="/company/548.html"><img class="res"  data-xs="/img/product/ygjh.jpg" data-xl="/img/product/ygjh.jpg" data-xm="/img/product/ygjh.jpg" data-xb="/img/product/ygjh.jpg">	</a>
				
			</div> -->
			<div class="item">
				<a href="/v3/About-Kefid/"><img class="res"  data-xs="/img/product/1-760.jpg" data-xl="/img/product/1-1000.jpg" data-xm="/img/product/1-1200.jpg" data-xb="/img/product/1.jpg">	</a>
				
			</div>
			<div class="item text-center">
				<a href="/Case/"><img src="/img/product/5.jpg" class="res" data-xs="/img/product/hlbanner2.jpg" data-xl="/img/product/hlbanner2.jpg" data-xm="/img/product/hlbanner2.jpg" data-xb="/img/product/hlbanner2.jpg"></a>
			</div>
			<div class="item text-center">
				<a href="/v3/Crushing-Plant/"><img class="res" data-xs="/img/product/2-760.jpg" data-xl="/img/product/2-1000.jpg" data-xm="/img/product/2-1200.jpg" data-xb="/img/product/2.jpg"></a>
					
			</div>
			<div class="item text-center">
				<a href="/v3/mobile-crusher/"><img class="res" data-xs="/img/product/3-760.jpg" data-xl="/img/product/3-1000.jpg" data-xm="/img/product/3-1200.jpg" data-xb="/img/product/3.jpg"></a>
				
			</div>
			<div class="item text-center">
			<a href="/v3/Grinding-Mill/MTW-Series-Trapezoid-Mill.html"><img class="res" data-xs="/img/product/hlbanner1.jpg" data-xl="/img/product/hlbanner1.jpg" data-xm="/img/product/hlbanner1.jpg" data-xb="/img/product/hlbanner1.jpg"></a>
				
			</div>
			
	</div>
	
		<div class="pager-prev">
			<img src="/img/product/product_index_l.png" >
		</div>
		<div class="pager-next">
			<img src="/img/product/product_index_r.png" >
		</div>

</div>
		
		<section class="container">
				<div class="line-big margin-big-top margin-big-bottom">
					<div class="xl12 xs5 welc">
						<h1 class="text-right padding-small-top margin-big-top padding-bottom"><b>Welcome to Kefid</b></h1>
						<div class="text-right"><i class="icon icon-angle-right" aria-hidden="true"></i> 
							<a href="/Case/" class="tcolor">More Cases of Kefid</a> 
						</div>
					</div>
					<div class="xl12 xs7 margin-big-top text-left">
						<p>Kefid Machinery is a leading and pioneering enterprise with the most advanced <br>international level in R&D, manufacturing and selling of large-scale crushing & screening <br> plants and industrial milling equipments. </p>
					</div>
					
				</div>

				<div class="line-big index_pcate">
					<div class="xm3 xs6 xl6 hl-i1 text-center">
						<a href="/v3/Mobile-Crusher/"><img src="/img/product/product_index_p2.jpg" class="img-responsive"></a>
						<p><a href="/v3/Mobile-Crusher/" target="__blank">Mobile Crushing Plant</a></p>
					</div>
					<div class="xm3 xs6 xl6 hl-i1 text-center">
						<a href="/v3/Screening-Washing/"><img src="/img/product/product_index_p3.jpg" class="img-responsive"></a>
						<p><a href="/v3/Screening-Washing/" target="__blank">Screening &Washing</a></p>
					</div>
					<div class="xm3 xs6 xl6 hl-i1 text-center">
						<a href="/v3/Crushing-Plant/"><img src="/img/product/product_index_p4.jpg" class="img-responsive"></a>
						<p><a href="/v3/Crushing-Plant/" target="__blank">Crushing Plant </a></p>
					</div>
					
					<div class="xm3 xs6 xl6 hl-i1 text-center">
						<a href="/v3/Grinding-Mill/"><img src="/img/product/product_index_p7.jpg" class="img-responsive"></a>
						<p><a href="/v3/Grinding-Mill/" target="__blank">Grinding Mill</a></p>
					</div>
				</div>
		</section>

		<section class="product_lunbo">
			<div class="container">
				<div class="line">
					<div class="product_news">
						<p>
							News
						</p>
						<p>
							All reports
						</p>
					</div>
					<a href="/special/" target="_blank">
						<div class="product_focus">
							<p>Focus</p>
						</div>
					</a>
				</div>
				<div class="banner" data-pointer="0" data-interval="6"  data-item="1" data-small="2" data-middle="3" data-big="4" id="news">
					<ul class="carousel">
						{volist name="newslist" id="newlist"}
						<li class="item" >
								<a href="{$newlist.typedir}/{if empty($newlist.filename)}{$newlist.id}{else}{$newlist.filename}{/if}.html">
								<div class="doc-carousel">
										<p>{$newlist.senddate|date="Y/m/d"}</p>
										<p>{$newlist.title}</p>
								</div>
								</a>
							</li>
						{/volist}
					</ul>
					<div class="pager-prev" id="product_prev" style=""></div>
					<div class="pager-next"></div>
					</div>
<!-- 
					<div class="banner" data-pointer="1" data-interval="6"  data-item="1" data-small="2" data-middle="3" data-big="3" id="focus" style="display:none">
					<ul class="carousel">
					{dede:arclist titlelen='80' orderby='pubdate' typeid='39' row="10"}
						<li class="item" >
							<a href="[field:arcurl/]">
							<div class="doc-carousel">
									<p>[field:senddate function="date('Y/m/d','@me')"/]</p>
									<p>[field:title /]</p>
							</div>
							</a>
						</li>
					{/dede:arclist}
					</ul>
					<div class="pager-prev" id="product_prev" style=""></div>
					<div class="pager-next"></div>
					</div> -->
			</div>

		</section>
	<section class="container">
			<div class="product_products_head">
				<h1 class="text-ee">Products</h1>
				<div>
					<a href="/v3/products/">Products center</a> 
					<i class="icon icon-angle-right" aria-hidden="true"></i>
				</div>
			</div>
			<hr>
			<div class="line-big">
				<div class="hl-i2 xl6 xs6 xm4 xb3 text-center padding-top">
					<a href="/v3/Crushing-Plant/Impact-Crushers/ci5x.html">
						<div class="hshow_con">
							<img src="/uploads/161031/4-161031100330544.jpg" class="img-responsive">
							<div class="index_h_show text-left">
								<span class="dddd">
									<strong>OUTPUT SIZE</strong> : 10mm to 275mm 
									<br>
									<strong>PRODUCTION CAPACITY</strong>: 250-2000t/h
									<br>
							 		<strong>PROCESSED MATERIALS</strong> : The CI5X Series Impact Crushers is most suitable for crushing the materials whose crushing strength lower than 320MP like mineral rock and slag etc. 2. Apply to material water content lower than 20%.

								</span>
								<span class="ding"></span>
							</div>
						</div>
						<p>CI5X Series Impact Crusher</p>
					</a>
				</div>
				<div class="hl-i2 xl6 xs6 xm4 xb3 text-center padding-top">
					<a href="/v3/Crushing-Plant/Jaw-Crushers/C6X-Series-Jaw-Crusher.html">
						<div class="hshow_con">
							<img src="/uploads/allimg/161015/4-161015100425.jpg" class="img-responsive">
							<div class="index_h_show text-left">
								<span class="dddd">
									<strong>INTPUT SIZE</strong> : 0-450mm 
									<br>
									<strong>PRODUCTION CAPACITY</strong>: 160-1500t/h 
									<br>
							 		<strong>PROCESSED MATERIALS</strong> :  The C6X Series Jaw Crushers is most suitable for crushing the materials whose crushing strength lower than 320MP like mineral rock and slag etc.

								</span>
								<span class="ding"></span>
							</div>
						</div>
						<p>C6X Series Jaw Crusher</p>
					</a>
				</div>
				<div class="hl-i2 xl6 xs6 xm4 xb3 text-center padding-top">
					<a href="/v3/Crushing-Plant/Jaw-Crushers/Jaw-Crusher.html">
						<div class="hshow_con">
							<img src="/uploads/products/product_center_p10.jpg" class="img-responsive">
							<div class="index_h_show text-left">
								<span class="dddd">
									<strong>INTPUT SIZE</strong> :  40-350mm 
									<br>
									<strong>PRODUCTION CAPACITY</strong>: Up to 800TPH 
									<br>
							 		<strong>PROCESSED MATERIALS</strong> : Iron ore copper ore gold ore manganese ore all kinds of mineral stone except viscous materail
								</span>
								<span class="ding"></span>
							</div>
						</div>
						<p>Jaw Crusher</p>
					</a>
				</div>
				<div class="hl-i2 xl6 xs6 xm4 xb3 text-center padding-top">
					<a href="/v3/Crushing-Plant/Cone-Crushers/HP-Cone-Crusher.html">
						<div class="hshow_con">
							<img src="/uploads/products/product_center_p6.jpg" class="img-responsive">
							<div class="index_h_show text-left">
								<span class="dddd">
									<strong>INTPUT SIZE</strong> :  6-30mm
									<br>
									<strong>PRODUCTION CAPACITY</strong>: 55-700TPH 
									<br>
							 		<strong>PROCESSED MATERIALS</strong> :Iron ore copper ore gold ore manganese ore river stone gravelgranitebasaltmine orequartzdiaba
								</span>
								<span class="ding"></span>
							</div>
						</div>
						<p>HPT  Cone Crusher</p>
					</a>
				</div>
				<div class="hl-i2 xl6 xs6 xm4 xb3 text-center padding-top">
					<a href="/v3/Crushing-Plant/Cone-Crushers/HC-Cone-Crusher.html">
						<div class="hshow_con">
							<img src="/uploads/products/product_center_p14.jpg" class="img-responsive">
							<div class="index_h_show text-left">
								<span class="dddd">
									<strong>INTPUT SIZE</strong> :  4-38mm 
									<br>
									<strong>PRODUCTION CAPACITY</strong>: 27-660TPH  
									<br>
							 		<strong>PROCESSED MATERIALS</strong> :It is suitable for the crushing various minerals and rocks whose Platt
								</span>
								<span class="ding"></span>
							</div>
						</div>
						<p>HST  Cone Crusher</p>
					</a>
				</div>
				<div class="hl-i2 xl6 xs6 xm4 xb3 text-center padding-top">
					<a href="/v3/Crushing-Plant/VSI-Crushers/VSI6S1263.html">
						<div class="hshow_con">
							<img src="/uploads/allimg/160414/4-1604141442450-L.jpg" class="img-responsive">
							<div class="index_h_show text-left">
								<span class="dddd">
									<strong>INTPUT SIZE</strong> :   30-60mm
									<br>
									<strong>PRODUCTION CAPACITY</strong>: Up to 800TPH  
									<br>
							 		<strong>PROCESSED MATERIALS</strong> :1.Apply to fragility stone hardness below Moh
								</span>
								<span class="ding"></span>
							</div>
						</div>
						<p>VSI6S vertical shaft impact crusher</p>
					</a>
				</div>
				<div class="hl-i2 xl6 xs6 xm4 xb3 text-center padding-top">
					<a href="/v3/Crushing-Plant/VSI-Crushers/Deep-Rotor-VSI-Crusher.html">
						<div class="hshow_con">
							<img src="/uploads/products/product_center_p9.jpg" class="img-responsive">
							<div class="index_h_show text-left">
								<span class="dddd">
									<strong>INTPUT SIZE</strong> :   30-50mm
									<br>
									<strong>PRODUCTION CAPACITY</strong>: Up to 640TPH 
									<br>
							 		<strong>PROCESSED MATERIALS</strong> :quartz minerals granite limestone bauxite basalt mines cement plants fire proof materials aluminum soil abrasives glass raw material building materials sand and metallurgical slag
								</span>
								<span class="ding"></span>
							</div>
						</div>
						<p>Deep Rotor VSI Crusher</p>
					</a>
				</div>
				<div class="hl-i2 xl6 xs6 xm4 xb3 text-center padding-top">
					<a href="/v3/Grinding-Mill/MTW-Series-Trapezoid-Mill.html">
						<div class="hshow_con">
							<img src="/uploads/products/product_center_p202.jpg" class="img-responsive">
							<div class="index_h_show text-left">
								<span class="dddd">
									<strong>INTPUT SIZE</strong> :   1.6-0.045 mmthe fineness is 0.038mm 
									<br>
									<strong>PRODUCTION CAPACITY</strong>:3.5-45T/H
									<br>
							 		<strong>PROCESSED MATERIALS</strong> :limestone calcite barite dolomite potassium feldspar bentonite medical stone rock phosphate manganese ore iron ore quartz active carbon carbon black ceramic coal ect
								</span>
								<span class="ding"></span>
							</div>
						</div>
						<p>MTW Series Trapezoid Mill</p>
					</a>
				</div>
			</div>

		</section>
		<hr class="product_article_l_b">
		<section class="container product_article_s3">
			<div class="line-big">
				<div class="xm3 xs6 sl12 xl12 ">
					<h2>Comprehensive Service Anywhere</h2>
					<p>
						Kefid service centers span the globe and are conveniently located to deliver prompt and complete service to keep your job moving forward.
					</p>
				</div>
				<div class="xm3 xs6 sl12 xl6 hl-i3">
					<a href="/v3/About-Kefid/Technology.html">
					<img src="/img/product/product_index_p9.jpg" class="img-responsive">
					<p class="text-right text-red product_text_tri">
						 <i class="tri"></i>
						Technology
					</p>
					</a>
				</div>
				<div class="xm3 xs6 sl12 xl6 hl-i3">
				<a href="/v3/About-Kefid/">
					<img src="/img/product/product_index_p10.jpg" class="img-responsive">
					<p class="text-right text-red product_text_tri">
						 <i class="tri"></i>
						About
					</p>
					</a>
				</div>
				<div class="xm3 xs6 sl12 xl6 hl-i3">
				<a href="/v3/About-Kefid/Honor.html">
					<img src="/img/product/product_index_p11.jpg" class="img-responsive">
					<p class="text-right text-red product_text_tri">
						 <i class="tri"></i>
						Honor
					</p>
					</a>
				</div>
			</div>
		</section>
	</article>
	<script type="text/javascript">
/*	$('.product_news').click(function(){
		$(this).css('background','#a7a7a7');
		$(this).children('p').css('color','#fff')
		$('.product_focus p').css('color','#a7a7a7')
		$('.product_focus').css('background','#e4e4e4')
		$('#news').css('display','block');
		$('#focus').css('display','none');
	});
	$('.product_focus').click(function(){
		$(this).css('background','#a7a7a7');
		$(this).children('p').css('color','#fff')
		$('.product_news p').css('color','#a7a7a7')
		$('.product_news').css('background','#e4e4e4');
		$('#news').css('display','none');
		$('#focus').css('display','block');
	});*/
	h = $('.product_article_s1').height();
	$('.product_article_s1 .fr').css('margin-top',-h/2+'px');
	$('.product_article_s1 .fl').css('margin-top',-h/2+'px');

	w = $(window).width();
	
	if(w > 760){
		$('.product_icon').attr('data-target','')
		$('.product_icon').attr('data-mask','')
		$('.product_icon').attr('data-toggle','')
		
		$('.product_des').click(function(event){
		event.stopPropagation()
	});

	$('.product_icon').mouseenter(function(event){
		
		$(this).children('img').attr('src','/img/product/icon.png');
		$(this).children('.product_des').stop().slideDown(0)
		

	}).mouseleave(function(){
		$(this).children('img').attr('src','/img/product/product_index_icon.jpg');
		$(this).children('.product_des').stop().slideUp(0)
	});
	}
	if($(window).width() > 760){
			$('.hshow_con').hover(function(){
			$(this).find('.index_h_show').stop().slideDown();
			$('.dddd').css('color','#000');
			$(this).parent().find('p').css({
				'background':'#da3003',
				'color':'#fff',
			})
		},function(){
			$('.index_h_show').stop().slideUp();
			$('.hshow_con+p').css({
				'background':'#fff',
				'color':'#000',
			})
		})
		}
</script>
	{include file="/common/_footer" /} 	
</body>



</html>



