<!DOCTYPE html>
<html lang="en">
<head>
	<title>Technology - Kefid Shanghai Machinery</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta content="telephone=no" name="format-detection">
	<meta content="email=no" name="format-detection">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<link rel="stylesheet" href="/css/pintuer.css">
	<link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/about.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/pintuer.js"></script>
    <script src="/js/respond.js"></script>
     
    <!-- <link rel="prefetch" href="预加载的图片" /> -->
</head>
<body id="ab">

	{include file="/common/_header_about" /}
	<div class="nb-d ">
		<div class="container">
			<p><a href="/">Home </a>> <a href="">About Kefid</a></p>
		</div>
	</div>
	<article>
		<section class="profile">
			<div class="container text-white">
				<h1 class="text-center">About Kefid</h1>
				<p><span class="new_new">Kefid Machinery Co., Ltd. is a leading and pioneering enterprise with the most advanced international level in R&D, manufacturing and selling of large-scale crushing & screening plants and industrial milling equipments.</span></p>

				<p>Kefid machiney located in a historic city and transportation hub in central China-Shanghai, covering 140 thousand square meters, Kefid has Shangjie and High-tech zone two production bases. Shangjie Zone which covers 80,000 square meters has three heavy-duty and modern integrated assembling workshops-- occupying 50,000 square meters; High-tech zone has 22 floors R&D Management laboratory building with 26,000 square meters, comprehensive equipments exhibition hall with 5,100 square meters, heavy-duty and modern integrated assembling workshop with 10,000 square meters, and also has the industry's most advanced machining workshop 20,000 square meters, and hundred sets of advanced large-scale vertical lathe, fixed lathe, planner, boring lathe, grinder and milling machines.</p>
			</div>
		</section>
		<section class="container about_b">
			<h2>Technology</h2>
			<div class="line-big mt">
				<div class="xs7">
					<img src="/uploads/about/keji_1.jpg" class="img-responsive">
				</div>
				<div class="xs5">
					<img src="/uploads/about/keji_2.jpg" class="img-responsive"> 
					
				</div>
			</div>
			<div class="line-big mt">
				<div class="xs4 xl12">
					<img src="/uploads/about/keji_3.jpg" class="img-responsive">
				</div>
				<div class="xs4 xl12">
					<img src="/uploads/about/keji_4.jpg" class="img-responsive">
				</div>
				<div class="xs4 xl12">
					<img src="/uploads/about/keji_5.jpg" class="img-responsive">
				</div>
			</div>
			<p class="p_a">
				Kefid persists in implementing the strategy of improving the competition ability of our products,relying on strong R&D team, keeping forging ahead in an innovative way, aiming at the forefront of technology, and constantly updating the HI-TECH innovation capability of the corporation.
			</p>
		</section>
	</article>
	
	{include file="/common/_k_footer" /}
		
</body>
</html>