<!DOCTYPE html>
<html lang="en">
<head>
	<title>About Kefid - Kefid Shanghai Machinery</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta content="telephone=no" name="format-detection">
	<meta content="email=no" name="format-detection">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<link rel="stylesheet" href="/css/pintuer.css">
	<link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/about.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/pintuer.js"></script>
    <script src="/js/respond.js"></script> 
 
    <!-- <link rel="prefetch" href="预加载的图片" /> -->
</head>
<body id="ab">
	{include file="/common/_header_about" /}
	<div class="nb-d ">
		<div class="container">
			<p><a href="/">Home </a>> <a href="/about_index.html">About Kefid</a></p>
		</div>
	</div>
		<section class="profile">
			<div class="container text-white">
				<h1 class="text-center">About Kefid</h1>
				<p><span class="new_new">Kefid Machinery Co., Ltd. is a leading and pioneering enterprise with the most advanced international level in R&D, manufacturing and selling of large-scale crushing & screening plants and industrial milling equipments.</span></p>

				<p>Kefid machiney located in a historic city and transportation hub in central China-Shanghai, covering 140 thousand square meters, Kefid has Shangjie and High-tech zone two production bases. Shangjie Zone which covers 80,000 square meters has three heavy-duty and modern integrated assembling workshops-- occupying 50,000 square meters; High-tech zone has 22 floors R&D Management laboratory building with 26,000 square meters, comprehensive equipments exhibition hall with 5,100 square meters, heavy-duty and modern integrated assembling workshop with 10,000 square meters, and also has the industry's most advanced machining workshop 20,000 square meters, and hundred sets of advanced large-scale vertical lathe, fixed lathe, planner, boring lathe, grinder and milling machines.</p>
			</div>
		</section>
		<section class="container about_b">
			<h2>Production Equipment & Workshop</h2>
			<div class="line-big mt">
				<div class="xs6">
					<img src="/img/about/about_b1.jpg" class="img-responsive">
				</div>
				<div class="xs6">
					<img src="/img/about/about_b2.jpg" class="img-responsive">
				</div>
			</div>
			<div class="line-big mt">
				<div class="xs3 xl6">
					<img src="/img/about/about_b3.jpg" class="img-responsive">
				</div>
				<div class="xs3 xl6">
					<img src="/img/about/about_b4.jpg" class="img-responsive">
				</div>
				<div class="xs3 xl6">
					<img src="/img/about/about_b5.jpg" class="img-responsive">
				</div>
				<div class="xs3 xl6">
					<img src="/img/about/about_b6.jpg" class="img-responsive">
				</div>
			</div>
			<p class="p_a">
				Kefid machinery in the fierce competition at home and abroad, always adhere to promote technology and management innovation, optimize domestic and foreign business model, and continuously improve our business strength and product quality.We keep the service idea of "win-win cooperation and create more value to customers", with the times, persist in innovation to provide the high quality products, global service and advanced technology support for our customers.
			</p>
			<div class="line-big about_l">
				<div class="xs4">
					<a href="/v3/About-Kefid/Technology.html">	<img src="/img/about/about_b7.jpg" class="img-responsive">
					<p class="text-right text-red p_b">
						 <i class="tri"></i>
						Technology
					</p></a>
				
				</div>
				<div class="xs4">
					<a href="/v3/About-Kefid/Honor.html">
						<img src="/img/about/about_b8.jpg" class="img-responsive">
					<p class="text-right text-red p_b">
						<i class="tri"></i>
						 Honor
					</p>
					</a>
					
				</div>
				<div class="xs4">
					<a href="/v3/About-Kefid/Agent-Wanted.html">
						<img src="/img/about/about_b9.jpg" class="img-responsive">
						<p class="text-right text-red p_b">
						<i class="tri"></i>
						 Agent Wanted
					</p>
					</a>
					
					
				</div>
				
			</div>
		</section>
	
		{include file="/common/_k_footer" /}
		
</body>
</html>