<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{dede:field.title /} - Kefid Shanghai Machinery</title>
    <meta name="keywords" content="{dede:field.keywords /}" />
    <meta name="description" content="{dede:field.description /}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <link rel="stylesheet" type="text/css" href="/css/pintuer.css">
    <link rel="stylesheet" type="text/css" href="/css/all.css">
    <link rel="stylesheet" type="text/css" href="/special/cone_crusher/cone_crusher.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/pintuer.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/contact.js"></script>
</head>

<body>
    <section class="container">
        <div class="head_top">
            <a href="/"><img src="/img/public/kefid.png"></a>
            <span class="head_right">
                <a href="/v3/contact.html">Contact us</a> | <a href="/Case/">Cases</a> | <a href="/v3/products.html">Products</a> | <a href="/solutions/">Solutions</a>
            </span>
        </div>
    </section>
    <div class="banner">
        <img src="/special/cone_crusher/banner.jpg" /></div>
    <article class="intro clearfix">
        <section class="container">
            <div class="section">
                <h1>Introduction</h1>
                <p>Hydraulic cone crusher is Kefid engaged in grinding industry program design, production, sales,service and other experience on the basis of the combination of modern industrial technology development,widely absorbed the United States, Germany and other advanced technology research and development ofefficient crusher. Can be widely used in metal and non-metallic mineral in the broken, crushing and ultra-finecrushing operations, Kefid is the mining machinery industry to replace the spring cone crusher a newgeneration of products.</p>
            </div>
        </section>
    </article>
    <article class="container">
        <section class="line-big sec2">
            <div class="ver1">
                <div class="xm6 tit">
                    <h2>Materials</h2>
                    <p>Iron ore, gold, copper, granite, limestone, manganese ore, river pebbles, basalt and so on.</p>
                </div>
                <div class="xm6 tit">
                    <h2>Application</h2>
                    <p>Metal and non-metallic mineral, cement, gravel, metallurgical and other industries.</p>
                </div>
                <div class="xs3 four-q">
                    <a href="/solutions/iron-ore-beneficiation-line.html">
                <img src="/special/cone_crusher/m1.jpg" class="img-responsive" alt="">
                <p>Iron ore</p></a>
                </div>
                <div class="xs3 four-q">
                    <a href="/solutions/gold-ore-beneficiation-line.html">
                <img src="/special/cone_crusher/m2.jpg" class="img-responsive" alt="">
                <p>Gold</p></a>
                </div>
                <div class="xs3 four-q">
                    
                <img src="/special/cone_crusher/a1.jpg" class="img-responsive" alt="">
                <p>Cement</p>
                </div>
                <div class="xs3 four-q">
                    
                <img src="/special/cone_crusher/a2.jpg" class="img-responsive" alt="">
                <p>Metallurgy</p>
                </div>
                <div class="xs3 four-q">
                    <a href="/solutions/granite-processing-line.html">
                <img src="/special/cone_crusher/m3.jpg" class="img-responsive" alt="">
                <p>Granite</p></a>
                </div>
                <div class="xs3 four-q">
                    <a href="/solutions/limestone-processing-line.html">
                <img src="/special/cone_crusher/m4.jpg" class="img-responsive" alt="">
                <p>Limestone</p></a>
                </div>
                <div class="xs3 four-q">
                    
                <img src="/special/cone_crusher/a3.jpg" class="img-responsive" alt="">
                <p>Construction</p>
                </div>
                <div class="xs3 four-q">
                    
                <img src="/special/cone_crusher/a4.jpg" class="img-responsive" alt="">
                <p>Mining</p>
                </div>
            </div>
            <div class="ver2">
                <div class="xs12 tit clearfix">
                    <h2>Materials</h2>
                    <p>Iron ore, gold, copper, granite, limestone, manganese ore, river pebbles, basalt and so on.</p>
                </div>
                <div class="xl6 xs6 four-q">
                    <a href="/solutions/iron-ore-beneficiation-line.html">
                        <img src="/special/cone_crusher/m1.jpg" class="img-responsive img-max" alt="">
                        <p>Iron ore</p></a>
                </div>
                <div class="xl6 xs6 four-q">
                    <a href="/solutions/gold-ore-beneficiation-line.html">
                        <img src="/special/cone_crusher/m2.jpg" class="img-responsive img-max" alt="">
                        <p>Gold</p></a>
                </div>
                <div class="xl6 xs6 four-q">
                    <a href="/solutions/granite-processing-line.html">
                        <img src="/special/cone_crusher/m3.jpg" class="img-responsive img-max" alt="">
                        <p>Granite</p></a>
                </div>
                <div class="xl6 xs6 four-q">
                    <a href="/solutions/limestone-processing-line.html">
                        <img src="/special/cone_crusher/m4.jpg" class="img-responsive img-max" alt="">
                        <p>Limestone</p></a>
                </div>
                <div class="clearfix"></div>
                <div class="xs12 tit">
                    <h2>Application</h2>
                    <p>Metal and non-metallic mineral, cement, gravel, metallurgical and other industries.</p>
                </div>
                <div class="xl6 xs6 four-q">
                    
                        <img src="/special/cone_crusher/a1.jpg" class="img-responsive img-max" alt="">
                        <p>Cement</p>
                </div>
                <div class="xl6 xs6 four-q">
                    
                        <img src="/special/cone_crusher/a2.jpg" class="img-responsive img-max" alt="">
                        <p>Metallurgy</p>
                </div>
                <div class="xl6 xs6 four-q">
                    
                        <img src="/special/cone_crusher/a3.jpg" class="img-responsive img-max" alt="">
                        <p>Construction</p>
                </div>
                <div class="xl6 xs6 four-q">
                    
                        <img src="/special/cone_crusher/a4.jpg" class="img-responsive img-max" alt="">
                        <p>Mining</p>
                </div>
            </div>
            
            <div class="xm6 p-half mgtb">
                    <h2 class="adv">Advantages</h2>
                <p>Optional variety of crushing cavity type, flexible application.</p>
                <p>Hydraulic devices that provide overload protection and clear cavities to reduce downtime.</p>
                <p>Fixed spindle, broken frequency increases, fineness increases.</p>
                <p>Thicker liner to extend service life and reduce steel consumption.</p>
                <p>Spiral bevel gear drive, smooth transmission, higher carrying capacity, lower noise.</p>
                <p> Thin oil lubrication system, easy operation and maintenance.</p>
            </div>
            <div class="xm6 mgtb"><img src="/special/cone_crusher/machine-half.jpg" alt="" class="img-responsive img-max"></div>
        </section>
    </article>
    <h3 class="perf">Performance Comparison</h3>
    <article class="vs">
        <section class="container sec3 ">
            <div class="line-big ver1">
                <a href="/v3/Crushing-Plant/Cone-Crushers/HC-Cone-Crusher.html"><div class="xm3 perf-l">
                    <h4 class="hst">HST</h4>
                    <p>Cone Crusher</p>
                    <p>-Dynamic cone force conditions are good, spare parts long life.</p>
                    <p>-The broken effect is good, through the ability of large.</p>
                    <p>-The full realization of intelligent control, the discharge port, motor power, crusher pressure to achieve dynamic load regulation, and real-time display of the operating parameters. </p>
                </div>
                <div class="xm3 img-l"><img src="/special/cone_crusher/hst.png" class="img-responsive" alt=""></div></a>
                <a href="/v3/Crushing-Plant/Cone-Crushers/HP-Cone-Crusher.html">
                <div class="xm3 img-r"><img src="/special/cone_crusher/hpt.png" class="img-responsive" alt=""></div>
                <div class="xm3 perf-r">
                    <h4 class="hpt">HPT</h4>
                    <p>Cone Crusher</p>
                    <p>- Crusher 8mm below the high content of fine particles.</p>
                    <p>- Fine product grain shape is good, layer compression crushing effect is good.</p>
                    <p>- Crushing energy efficiency is high.</p>
                </div></a>
            </div>
            <div class="line-big ver2">
                <a href="/v3/Crushing-Plant/Cone-Crushers/HC-Cone-Crusher.html"><div class="xl12 hst1">
                    <h4>HST</h4>
                    <p>Cone Crusher</p>
                    <p>-Dynamic cone force conditions are good, spare parts long life.</p>
                    <p>-The broken effect is good, through the ability of large.</p>
                    <p>-The full realization of intelligent control, the discharge port, motor power, crusher pressure to achieve dynamic load regulation, and real-time display of the operating parameters. </p>
                    <img src="/special/cone_crusher/hst.png" class="img-responsive img-cen" alt="">
                </div></a>
                <a href="/v3/Crushing-Plant/Cone-Crushers/HP-Cone-Crusher.html">
                <div class="xl12 hpt1">
                    <img src="/special/cone_crusher/hpt.png" class="img-responsive img-cen" alt="">
                    <h4>HPT</h4>
                    <p>Cone Crusher</p>
                    <p>- Crusher 8mm below the high content of fine particles.</p>
                    <p>- Fine product grain shape is good, layer compression crushing effect is good.</p>
                    <p>- Crushing energy efficiency is high.</p>
                </div></a>
            </div>
        </section>
        
    </article>
    <article class="mar-sm">
        <section class="sec4">
            <h5>Service</h5>
            <p>Kefid free of charge for you to configure the hydraulic cone crusher the entire production line, while all over the world sales and service network, but also anytime, anywhere to provide you with convenient, fast, professional technical support and after-sales service.</p>
        </section>
    </article>
    <article class="container">
        <section class="line-big sec5">
            <h5>Work site</h5>
            <div class="clearfix">
                <div class="xm2 "><a href="/Case/Africa/crushing_togo.html"><img src="/special/cone_crusher/case1.jpg" class="self-res" alt=""></a></div>
                <div class="xm10 ">
                        <a href="/Case/Africa/crushing_togo.html"><div class="case-t">200TPH Granite Stationary Crushing Plant in Togo</div></a><div class="xm9"></div>
                    <div class="xm5 xb4"></div>
                    <div class="xm7 xb8">
                        <p><span>RAW MATERIAL :  granite</span><br class="disn"/><span>MAX INPUT SIZE :  750mm</span></p>
                        <p class="clearfix"></p>
                        <p>FINAL PRODUCT SIZE :  0-4-6-10-14mm；0-5-15-25mm； 0-31.5mm； 0-40mm</p>
                        <p>MAIN EQUIPMENT :  LC4000X4000 hopper, ZSW 1300 x4900 vibrating feeder, PE900x1200 jaw crusher , LC4000X4000 surge hopper, HPT300/C hydraulic cone crusher, GZG110-4 vibrating feeder , and 4YZS2460 vibrating screen.</p>
                    </div>
                </div>
            </div>
            <hr class="ver2"/>
            <div class="clearfix case2">
                    <div class="xm10 ">
                            <a href="/Case/LatinAmerica/iron_ore_in_chile.html"><div class="case-t">300-400tph Iron Ore Stone Crushing Line In Chile</div></a><div class="xm9"></div>
                        <div class="xm7 xb8">
                            <p><span class="spec-raw">RAW MATERIAL :  Iron Ore</span><br class="disn2"/>
                                <span>MAXIMUM FEEDING SIZE :  750mm</span></p>
                            <p class="clearfix"></p>
                            <p>FINAL PRODUCTS SIZE :  0-6mm</p>
                            <p>EQUIPMENT LIST :  Jaw crusher PE900x1200, Cone crusher CSB240, 4 sets VSI5X sand making machine, Vibrating screen 3YZS2160, de-ironing separator</p>
                        </div>
                        <div class="xm5 xb4"></div>
                    </div>
                    <div class="xm2 "><a href="/Case/LatinAmerica/iron_ore_in_chile.html"><img src="/special/cone_crusher/case2.jpg" class="self-res" alt=""></a></div>
                </div>
        </section>
    </article>
    <div class="clearfix"></div>
    <article class="container">



        <!-- 表单 -->
        {include file="/common/_form" /}
    </article>
    <div class="clearfix"></div>
    {include file="/common/_k_footer"/}

</body>

</html>