<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{dede:field.title /} - Kefid Shanghai mobile crusher</title>
    <meta name="keywords" content="{dede:field.keywords /}" />
    <meta name="description" content="{dede:field.description /}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <link rel="stylesheet" type="text/css" href="/css/pintuer.css">
    <link rel="stylesheet" type="text/css" href="/css/all.css">
    <link rel="stylesheet" type="text/css" href="/special/crusher/crusher.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/pintuer.js"></script>
    <script src="/js/footer.js"></script>
</head>
<body>
    <section class="container">
        <div class="head_top">
            <a href="/"><img src="/img/public/kefid.png"></a>
            <span class="head_right">
                <div><a href="/v3/contact.html">Contact us</a> | <a href="/Case/">Cases</a> | <a href="/v3/products.html">Products</a> | <a href="/solutions/">Solutions</a></div>
            </span>
        </div>
    </section>
    <div class="cru-a">
        <img class="res" data-xl="/special/crusher/banner-l.jpg" data-xs="" data-xm="/special/crusher/banner.jpg" alt="">
    </div>
    <div class="container">
        <div class="cru-b">
            <p>Since the first mobile crushing station off the assembly line, from the mobile tire station, crawler mobile station
                to the K series of mobile tire stations.From rugged utility lines to rounded streamlined aesthetic design, from
                custom non-standard models to multi-combination of the standard configuration models.kefid is always innovating
                according to market trends and customer needs, and relying on its high-end configuration, stable performance
                is gradually becoming the ideal choice for customers worldwide in the field of mobile crushing equipment.</p>
        </div>
        <div class="cru-c">
            <h3>APPLICATIONS</h3>
            <ul class="line-big list-unstyle">
                <li class="xl6 xm3">
                    <a href=""><img src="/special/crusher/apply-1.jpg" class="" alt="">
                        <p>Coal-mining industry quarry</p></a>
                </li>
                <li class="xl6 xm3">
                    <a href=""><img src="/special/crusher/apply-2.jpg" class="" alt="">
                        <p>Concrete and waste recycling</p></a>
                </li>
                <li class="xl6 xm3">
                    <a href=""><img src="/special/crusher/apply-3.jpg" class="" alt="">
                        <p>Road construction</p></a>
                </li>
                <li class="xl6 xm3">
                    <a href=""><img src="/special/crusher/apply-4.jpg" class="" alt="">
                        <p>Concrete gravel aggregate</p></a>
                </li>
            </ul>
        </div>
        <div class="cru-d">
            <h3>FIVE ADVANTAGES SHOW THE PERFECT DESIGN</h3>
            <ul class="list-unstyle line-big">
                <li class="xl12 xs6 xb4">
                    <img src="/special/crusher/adv-1.jpg" alt="">
                    <div class="cru-d-content">
                        <div class="c-a">
                            <p class="cru-d-p">1.Highly efficient and flexible processing capacity</p>
                            <p>Optimized modes of grates pre-screening on vibrating feeder, adjustable installation angle on vibrating screen and speed-adjustable mode on trailer belts maximize the processing capacity in crushing sand and gravel.</p>
                        </div>
                    </div>
                </li>
                <li class="xl12 xs6 xb4">
                    <img src="/special/crusher/adv-2.jpg" alt="">
                    <div class="cru-d-content">
                        <div class="c-a">
                            <p class="cru-d-p">2.Optimal emission reduction and noise reduction</p>
                            <p>The design of water-spray dustproof device, rubber skin in the position of discharging opening and material receiving are added to effectively reduce the noise and dust emissions, so as to minimize the impact on the environment.</p>
                        </div>
                    </div>
                </li>
                <li class="xl12 xs6 xb4">
                    <img src="/special/crusher/adv-3.jpg" alt="">
                    <div class="cru-d-content">
                        <div class="c-a">
                            <p class="cru-d-p">3.Most humanized structure design</p>
                            <p>The humanity design, which includes the maintenance of lifting frame, hooks and operation system, tools of maintenance, toolbox and centralized lubrication, the electrical signal over-loaded alarm system and hydraulic controlling system, reduces the risk to a minimum.</p>
                        </div>
                    </div>
                </li>
                <li class="xl12 xs6 xb4 aa">
                    <img src="/special/crusher/adv-4.jpg" alt="">
                </li>
                <li class="xl12 xs6 xb4">
                    <img src="/special/crusher/adv-5.jpg" alt="">
                    <div class="cru-d-content">
                        <div class="c-a">
                            <p class="cru-d-p">4.The latest modular design</p>
                            <p>The material for the production are upgraded from Q235A steel to Q345B steel with higher strength, combined with interchangeable system of main machines and the versatility of one trailer, so it is suitable to deal with changeful stone material processing requirements in remote areas.</p>
                        </div>
                    </div>
                </li>
                <li class="xl12 xs6 xb4">
                    <img src="/special/crusher/adv-6.jpg" alt="">
                    <div class="cru-d-content">
                        <div class="c-a">
                            <p class="cru-d-p">5.Most flexible solution configuration</p>
                            <p>According to different crushing process requirements can be composed of different models, with high flexibility to meet the various needs of customers.</p>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        <div class="cru-e">
            <h3>PRODUCTION SITE SPREADS ON SIX CONTINENTS</h3>
            <ul class="list-unstyle line-big">
                <li class="xl12 xm6 cru-e-a">
                    <ul class="line list-unstyle u-a">
                        <li class="xl12 xs6 cru-e-b">
                            <img src="/special/crusher/site-1.jpg" class="" alt="">
                        </li>
                        <li class="xl12 xs6 cru-e-b e-w">
                            <div class="">
                                <h4>250TPH mobile crushing lines in Chimkent,Kazakhstan</h4>
                                <p>Equipment:YG1349EW8+Y3S2160HP220 mobile crushers</p>
                                <p>Material: limestone</p>
                                <p>Output size: 0-10mm，10-25mm，25-50mm</p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="xl12 xm6 cru-e-a">
                    <ul class="line list-unstyle u-a">
                        <li class="xl12 xs6 cru-e-b">
                            <img src="/special/crusher/site-2.jpg" class="" alt="">
                        </li>
                        <li class="xl12 xs6 cru-e-b e-w">
                            <div class="">
                                <h4>250TPH mobile crushing plants in Crimea,Russian</h4>
                                <p>Material: limestone</p>
                                <p>Output size: 0-5mm、5-10mm、10-20mm</p>
                                <p>Equipment: KE860-1+KH300-2+KV9532-2 mobile crushers</p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="xl12 xm6 cru-e-a">
                    <ul class="line list-unstyle u-a">
                        <li class="xl12 xs6 xm6 xm6-left cru-e-b">
                            <img src="/special/crusher/site-3.jpg" class="" alt="">
                        </li>
                        <li class="xl12 xs6 xm6 xm6-right cru-e-b e-w">
                            <div class="">
                                <h4>250TPH mobile crushing lines in Zambia</h4>
                                <p>Material: Iron ore</p>
                                <p>Output size: 0-10mm，10-25mm，25-50mm</p>
                                <p>Equipment: YG1349EW8、Y3S2160HP220 (EC) mobile crushers</p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="xl12 xm6 cru-e-a">
                    <ul class="line list-unstyle u-a">
                        <li class="xl12 xs6 xm6 xm6-left cru-e-b">
                            <img src="/special/crusher/site-4.jpg" class="" alt="">
                        </li>
                        <li class="xl12 xs6 xm6 xm6-right cru-e-b e-w">
                            <div class="">
                                <h4>120TPH mobile crushing plants in Mexico, North America</h4>
                                <p>Material: limestone</p>
                                <p>Output size: 0-5mm，5-20mm，20-40mm</p>
                                <p>Equipment: YG938E69+Y3S1860F1214 mobile crushers</p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="xl12 xm6 cru-e-a">
                    <ul class="line list-unstyle u-a">
                        <li class="xl12 xs6 cru-e-b">
                            <img src="/special/crusher/site-5.jpg" class="" alt="">
                        </li>
                        <li class="xl12 xs6 cru-e-b e-w">
                            <div class="">
                                <h4>150TPH mobile crushing lines in Eduador</h4>
                                <p>Material: hard rock</p>
                                <p>Output size: 0-10mm，10-19mm，19-25mm，25-34mm</p>
                                <p>Equipment: YG1142E710、Y4S1860CSB160 mobile crushers</p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="xl12 xm6 cru-e-a">
                    <ul class="line list-unstyle u-a">
                        <li class="xl12 xs6 cru-e-b">
                            <img src="/special/crusher/site-6.jpg" class="" alt="">
                        </li>
                        <li class="xl12 xs6 cru-e-b e-w">
                            <div class="">
                                <h4>200TPH mobile crushing plants in Papua New Guinea</h4>
                                <p>Material: river stone</p>
                                <p>Output size: 0-10mm，10-20mm，20-40mm</p>
                                <p>Equipment: KS1860-1 mobile crushers</p>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="cru-f">
            <h3>RELATED EQUIPMENT</h3>
            <ul class="list-unstyle line-big">
                <li class="xl6 xm3">
                    <a href="//www.kefidchina.com/v3/Mobile-Crusher/Tracked-Crusher.html">
                        <img src="/special/crusher/rela-1.jpg" class="" alt="">
                        <p>Tracked Crusher  </p>
                    </a>
                </li>
                <li class="xl6 xm3">
                    <a href="//www.kefidchina.com/v3/Mobile-Crusher/Mobile-Crusher---Screen.html">
                        <img src="/special/crusher/rela-2.jpg" class="" alt="">
                        <p>Mobile Crusher & Screen </p>
                    </a>
                </li>
                <li class="xl6 xm3">
                    <a href="//www.kefidchina.com/v3/Mobile-Crusher/Mobile-VSI-Crusher---Washer.html">
                        <img src="/special/crusher/rela-3.jpg" class="" alt="">
                        <p>Mobile VSI Crusher & Washer  </p>
                    </a>
                </li>
                <li class="xl6 xm3">
                    <a href="//www.kefidchina.com/v3/Mobile-Crusher/Mobile-Jaw-Crusher.html">
                        <img src="/special/crusher/rela-4.jpg" class="" alt="">
                        <p>Mobile Jaw Crusher </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
     {dede:include filename="form.html"/}
    <div class="clearfix"></div>
   {dede:include filename="k_footer.html"/} 
    <script>
var isNotEmpty=function(strVal){if(strVal==''||strVal==null||strVal==undefined){return false}else{return true}};
var res_img = $("img.res");
var img_src = isNotEmpty(res_img.attr("data-xb")) ? res_img.attr("data-xb") : isNotEmpty(res_img.attr("data-xm")) ? res_img.attr("data-xm") : isNotEmpty(res_img.attr("data-xs")) ? res_img.attr("data-xs") : isNotEmpty(res_img.attr("data-xm")) ? res_img.attr("data-xm") : "";
var w_width = $(window).width();
if (w_width < 1200 && w_width > 999 && isNotEmpty(res_img.attr("data-xm"))) {
    img_src = res_img.attr("data-xm")
}
if (w_width < 1000 && w_width > 759 && isNotEmpty(res_img.attr("data-xs"))) {
    img_src = res_img.attr("data-xs")
}
if (w_width < 760 && isNotEmpty(res_img.attr("data-xl"))) {
    img_src = res_img.attr("data-xl")
}
if (isNotEmpty(img_src)) {
    res_img.attr('src', img_src)
}
</script>
</body>
</html>