<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{dede:field.title /} - Kefid Machinery</title>
    <meta name="keywords" content="sand making machine, VSI crusher, vertical shaft impact crusher, sand making plant，artificial sand maker /}" />
    <meta name="description" content="{dede:field.description /}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <link rel="stylesheet" type="text/css" href="/css/pintuer.css">
    <link rel="stylesheet" type="text/css" href="/css/all.css">
    <link rel="stylesheet" type="text/css" href="/special/jizhishahh/jzshh.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/pintuer.js"></script>
    <script src="/js/footer.js"></script>
</head>
<body>
    <section class="container">
        <div class="head_top">
            <a href="/"><img src="/img/public/kefid.png"></a>
            <span class="head_right">
                <div><a href="/v3/contact.html">Contact us</a> | <a href="/Case/">Cases</a> | <a href="/v3/products.html">Products</a> | <a href="/solutions/">Solutions</a></div>
            </span>
        </div>
    </section>
    <div class="banner">
       <img class="res img-res" data-xl="/special/jizhishahh/banner2.jpg" data-xs="/special/jizhishahh/banner2.jpg" data-xm="/special/jizhishahh/banner.jpg" data-xb="/special/jizhishahh/banner.jpg" src="">
    </div>
    <div class="container">
        <div class="line-big text-center">
            <p class="tit-p1"><b>CONTRADICTION</b></p>
            <p class="tit-h1"><b>DEMAND AND RESERVE</b></p>
            <p class="tit-p2">Large data show that sand and gravel aggregate is the most important raw material for infrastructure construction, such as:</p>
            <div class="xl6 xm3 tit-img"><img src="/special/jizhishahh/t1.jpg" class="img-res">Bridge construction</div>
            <div class="xl6 xm3 tit-img"><img src="/special/jizhishahh/t2.jpg" class="img-res">High rise building</div>
            <div class="xl6 xm3 tit-img"><img src="/special/jizhishahh/t3.jpg" class="img-res">water conservancy project</div>
            <div class="xl6 xm3 tit-img"><img src="/special/jizhishahh/t4.jpg" class="img-res">Railway highway</div>
        </div>
        <div class="clear"></div>
        <div class="xl12 xs3 tit-pl">
            <div class="tit-pl2">
                <p class="pl2-p1"><b>PROBLEMS</b></p>
                <p class="pl2-p2">AT PRESENT</p>
            </div>
        </div>
        <div class="xl12 xs9 tit-pr">
            <p>However, the aggregate of sand and gravel is mainly collected by natural collection, and there are many problems at present, for example：limited reserves, uneven quality, pollution caused by non standard mining and low utilization rate, so it’s time to put forward an effective solution.</p>
        </div>
    </div>
    <img src="/special/jizhishahh/bg.jpg" class="img-res bg">
    <div class="layout bgs">
        <div class="container">
            <p class="tit-p1 text-center"><b>ANSWER SHEET</b></p>
            <p class="tit-h1 text-center"><b>MECHANISM SAND</b></p>
            <p class="tit-p3">As a professional supplier of mine crushing and basic construction solutions, kefid will give you a satisfactory answer in the face of the industry's problems. Through more than 30 years of innovation and development and accumulated experience, not only help customers to promote the application of new green environmental protection technology and equipment, but also help customers design reasonable and efficient production line, for the resource exploitation and environmental protection has made tremendous contributions.</p>
        </div>
    </div>
    <div class="container">
        <div class="line-big zs">
            <div class="xl12 xs4"><img src="/special/jizhishahh/j1.jpg" class="img-responsive"></div>
            <div class="xl12 xs4"><img src="/special/jizhishahh/j2.jpg" class="img-responsive"></div>
            <div class="xl12 xs4"><img src="/special/jizhishahh/j3.jpg" class="img-responsive"></div>
        </div>
        <p class="tit-p1 text-center"><b>EQUIPMENT</b></p>
        <p class="tit-h1 text-center tit3"><b>PROVIDE UNREMITTING MOTIVATION</b></p>
        <div class="xl12 xm2 img-l">
        </div>
        <div class="img-zi">
             <a href="/v3/Crushing-Plant/VSI-Crushers/VSI6S1263.html"><img src="/special/jizhishahh/cp1.png" class="img-j4"></a>
            <div class="j4-zi">
                <div class="j4-zi2">
                    <h2>ADVANTAGE</h2>
                    <p>· Equipped with lifting device for easy maintenance.</p>
                    <p>· Wear resistant material, extent service life. </p>
                    <p>· Optimization of structure, increase output by 20%.</p>
                    <p>· “Stone hit stone” mode, reduce wear and tear.</p>
                </div>
            </div>
        </div>
        <div class="xl12 xm10 j4-r">
             <a href="/v3/Crushing-Plant/VSI-Crushers/VSI6S1263.html"><p class="j4r-p1">VSI6S</p>
            <h2><b>Vertical Shaft Impact Crusher</b></h2></a>
            <p class="j4r-p2">INPUT SIZE: 30-60mm<br>OUTPUT SIZE : various size<br>PRODUCTION CAPACITY : up to 800T/H</p>
            <p class="j4r-p2"><b>PROCESSED MATERIALS: </b><br>Apply to fragility stone hardness below Moh's 9 degree, unwelcome to sticky material and muddy much material, the material water content lower than 20%, and the special flammable material as coal, calcium carbide and so on.</p>
        </div>
        <div class="clear"></div>
        <div class="cp2">
            <div class="xl12 xm3 xm9-left img-l">
            </div>
            <div class="img-zi img-zi2">
                <a href="/v3/Crushing-Plant/VSI-Crushers/Deep-Rotor-VSI-Crusher.html"><img src="/special/jizhishahh/cp2.png" class="img-j4"></a>
                <div class="j4-zi">
                    <div class="j4-zi2">
                        <h2>ADVANTAGE</h2>
                        <p>· New design, increase in output.</p>
                        <p>· Function upgrade, reduce energy consumption.</p>
                        <p>· Reasonable structure, optimize the grain shape.</p>
                        <p>· High end material, prolong service life.</p>
                    </div>
                </div>
            </div>
            <div class="xl12 xm9 xm3-right j4-r j4-r2">
                 <a href="/v3/Crushing-Plant/VSI-Crushers/Deep-Rotor-VSI-Crusher.html"><p class="j4r-p1">VSI DR</p>
                <h2><b>Deep Rotor VSI Crusher</b></h2></a>
                <p class="j4r-p2">INPUT SIZE: 30-50mm<br>OUTPUT SIZE : various size<br>PRODUCTION CAPACITY : Up to 640TPH</p>
                <p class="j4r-p2"><b>PROCESSED MATERIALS: </b><br>quartz minerals, granite, limestone, bauxite, basalt mines, cement plants, fire proof materials, aluminum soil, abrasives, glass raw material, building materials, sand and metallurgical slag.</p>
            </div>
            <div class="clear"></div>
         </div>
    </div>
    <div class="container">
        <div class="line-big">
            <p class="tit-p1 text-center"><b>AUXILIARY</b></p>
            <p class="tit-h1 text-center tit3"><b>FORM AN EFFICIENT PRODUCTION LINE</b></p>
            <div class="xl12 xs6 xm3 aux">
                <a href="/v3/Crushing-Plant/Cone-Crushers/HP-Cone-Crusher.html"><img src="/special/jizhishahh/p1.png" class="img-responsive"></a>
                <div class="aux-zi aux-zi1">
                    <p class="aux-p1"><b>HYDRAULIC CONE CRUSHER</b></p>
                    <p>laminating crushing, improve capacity by 40%-60%.</p>
                    <p>Unique design of bearing, stronger load force.</p>
                    <p>Hydraulic insurance, good safety performance.</p>
                </div>
            </div>
            <div class="xl12 xs6 xm3 aux">
                <a href="/v3/Crushing-Plant/Jaw-Crushers/Jaw-Crusher.html"><img src="/special/jizhishahh/p2.png" class="img-responsive"></a>
                <div class="aux-zi aux-zi2">
                    <p class="aux-p1"><b>JAW CRUSHER</b></p>
                    <p>Advanced technology, efficiency improved greatly.</p>
                    <p>Digital analysis, intelligent and convenient.</p>
                    <p>High stability and longer service life.</p>
                </div>
            </div>
            <div class="xl12 xs6 xm3 aux">
                <a href="/v3/Feeding-Conveying/Vibrating-Feeder.html"><img src="/special/jizhishahh/p3.png" class="img-responsive"></a>
                <div class="aux-zi">
                    <p class="aux-p1"><b>VIBRATING FEEDER</b></p>
                    <p>Strong adaptability and wide application.</p>
                    <p>Reasonable  design, stable operation.</p>
                    <p>Large output and high cost performance.</p>
                </div>
            </div>
            <div class="xl12 xs6 xm3 aux">
                <a href="/v3/Feeding-Conveying/FH-Heavy-Vibrating-Feeder.html"><img src="/special/jizhishahh/p4.png" class="img-responsive"></a>
                <div class="aux-zi aux-zi3">
                    <p class="aux-p1"><b>VIBRATING SCREEN</b></p>
                    <p>Reasonable structure, high screening efficiency.</p>
                    <p>Advanced technology, large processing capacity.</p>
                    <p>Small vibration and loss, prolong service life.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="tit-p1 text-center"><b>CASE</b></p>
        <p class="tit-h1 text-center tit4"><b>BRILLIANT REAPPEARANCE</b></p>
        <div class="xl12 xm5 img-f1">
             <a href="/Case/LatinAmerica/iron_ore_in_chile.html"><img src="/special/jizhishahh/f1.jpg" class=""></a>
        </div>
        <div class="xl12 xm7 case-zi text-center">
            <a href="/Case/LatinAmerica/iron_ore_in_chile.html"><p><b>300-400tph Iron Ore Stone Crushing Line In Chile</b></p></a>
            <p>RAW MATERIAL :  Iron Ore<br>MAXIMUM FEEDING SIZE :  750mm<br>FINAL PRODUCTS SIZE :  0-6mm<br>CAPACITY :  300-400tph<br>
            <a href=""><span class="case-sp1">CUSTOMER FEEDBACK</span></a></p>
            <p class="case-p2">Since the iron ore production line has been put into production, we are surprised by the high output and high efficiency. Your company's supporting services are also satisfactory, and your products are trustworthy!</p>
        </div><div class="clear"></div>
        <div class="xl12 xm5 xm7-left img-f1 img-f2">
             <a href="/Case/Asia/a-india.html"><img src="/special/jizhishahh/f2.jpg" class=""></a>
        </div>
        <div class="xl12 xm7 xm5-right case-zi2 text-center">
            <a href="/Case/Asia/a-india.html"><p><b>India 100 TPH River Stone Preliminary Screening and Crushing Plant</b></p></a>
            <p>MATERIAL :  River Stone<br>FEEDING SIZE :  < 12 mm <br>OUTPUT SIZE :  0-2 mm<br>CAPACITY :  100 tph<br>
            <a href=""><span class="case-sp1">CUSTOMER FEEDBACK</span></a></p>
            <p class="case-p2">I have been engaged in the ore industry for many years. The performance of the equipment is really first-rate. You have provided design schemes, installation and training for us, which has saved us a lot of cost. Thank you!</p>
        </div>
    </div>
    
    
    <article>
        <div class="clearfix"></div>
        <!-- 表单 -->
       {dede:include filename="form.html"/}
          </article>
          <div class="clearfix"></div>
      {dede:include filename="k_footer.html"/} 
   <script>
    var isNotEmpty=function(strVal){if(strVal==''||strVal==null||strVal==undefined){return false}else{return true}};
    var res_img = $("img.res");
    var img_src = isNotEmpty(res_img.attr("data-xb")) ? res_img.attr("data-xb") : isNotEmpty(res_img.attr("data-xm")) ? res_img.attr("data-xm") : isNotEmpty(res_img.attr("data-xs")) ? res_img.attr("data-xs") : isNotEmpty(res_img.attr("data-xm")) ? res_img.attr("data-xm") : "";
    var w_width = $(window).width();
    if (w_width < 1200 && w_width > 999 && isNotEmpty(res_img.attr("data-xm"))) {
        img_src = res_img.attr("data-xm")
    }
    if (w_width < 1000 && w_width > 759 && isNotEmpty(res_img.attr("data-xs"))) {
        img_src = res_img.attr("data-xs")
    }
    if (w_width < 760 && isNotEmpty(res_img.attr("data-xl"))) {
        img_src = res_img.attr("data-xl")
    }
    if (isNotEmpty(img_src)) {
        res_img.attr('src', img_src)
    }
   </script>
</body>

</html>