<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{dede:field.title /} - Kefid Shanghai Sand</title>
    <meta name="keywords" content="mobile crushing plant,stone crushing line,stone crusher" />
    <meta name="description" content="Construction waste is a solid waste produced in the process of building, reconstructing, expanding or demolishing a building. With the accelerated process of urbanization, construction waste has attracted more and more attention from the government as an environmental problem. If construction waste is not properly handled, it will bring a lot of bad effects. The random stowage of construction waste will cause potential safety hazards and will affect urban traffic.  Construction waste will seriously pollute water resources and affect air quality. Besides, it will occupy land and reduce soil quality." />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <link rel="stylesheet" type="text/css" href="/css/pintuer.css">
    <link rel="stylesheet" type="text/css" href="/css/all.css">
    <link rel="stylesheet" type="text/css" href="/special/kxlhh/kxlhh.css">

    <script src="/js/jquery.js"></script>
    <script src="/js/pintuer.js"></script>
    <script src="/js/footer.js"></script>
</head>

<body>
    <section class="container">
        <div class="head_top">
            <a href="/"><img src="/img/public/kefid.png"></a>
            <span class="head_right">
                <div><a href="/v3/contact.html">Contact us</a> | <a href="/Case/">Cases</a> | <a href="/v3/products.html">Products</a> | <a href="/solutions/">Solutions</a></div>
            </span>
        </div>
    </section>
    <div class="banner">
       <img class="res img-res" data-xl="/special/kxlhh/banner2.jpg" data-xs="/special/kxlhh/banner2.jpg" data-xm="/special/kxlhh/banner.jpg" data-xb="/special/kxlhh/banner.jpg" src="">
    </div>
    <article>
        <div class="container">
            <p class="k-tp1">Construction waste is a solid waste produced in the process of building, reconstructing, expanding or demolishing a building. With the accelerated process of urbanization, construction waste has attracted more and more attention from the government as an environmental problem. If construction waste is not properly handled, it will bring a lot of bad effects. The random stowage of construction waste will cause potential safety hazards and will affect urban traffic.  Construction waste will seriously pollute water resources and affect air quality. Besides, it will occupy land and reduce soil quality. </p>
        </div>
        <div class="container">
            <div class="line-big">
                <div class="xl6 xm3 k-si">
                    <img src="/special/kxlhh/k1.jpg" class="img-res">
                    <div class="k-si2 xl12">Scrap metal, wire, wire, and all kinds of steel fittings, etc</div>
                </div>
                <div class="xl6 xm3 k-si">
                    <img src="/special/kxlhh/k2.jpg" class="img-res">
                    <div class="k-si2 xl12">Abandoned building concrete and masonry</div>
                </div>
                <div class="clear cl1"></div>
                <div class="xl6 xm3 k-si">
                    <img src="/special/kxlhh/k3.jpg" class="img-res">
                    <div class="k-si2 xl12 k-ss">Waste residue</div>
                </div>
                <div class="xl6 xm3 k-si">
                    <img src="/special/kxlhh/k4.jpg" class="img-res">
                    <div class="k-si2 xl12">Waste cement, brick, stone, sand, glass and so on</div>
                </div>
            </div>
        </div>
        <div class="k-bg1">
            <div class="container">
                <h2 class="bg1-h2">CONVERSION OF WEAPONS</h2>
                <h3 class="bg1-h3"><span>K Series Mobile Station</span></h3>
                <p class="bg1-p">Because of the complex terrain, miscellaneous materials and narrow operating environment, it brings great difficulties to construction. K series mobile crushing plant includes tracked crusher, four in one mobile crusher, three in one mobile crusher, Mobile VSI Crusher, mobile VSI crusher & washer, mobile impact crusher and so on. They can complete a variety of needs, such as coarse crushing, medium crushing, fine crushing, ultra-fine crushing and sieving. Its various models can be combined freely and be configured flexibly according to your needs. What’s more, the significant advantage of fast transfer can effectively eliminate the restrictions on the construction of the geographical environment.</p>
            </div>
        </div>
        <div class="container k-bg2">
            <div class="ksm"><img src="/special/kxlhh/ksm.png" class="img-res"></div>
            <div class="xl12 xs6 xm4">
                <div class="bg2-d1 ">
                    <img src="/special/kxlhh/1.png" class="img-responsive">
                    <p>Through the upgrading of the material, the equipment has higher strength, and it can be applied to the harsh environment of low temperature and vibration load.</p>
                </div>
                <div class="bg2-d3">
                    <img src="/special/kxlhh/2.png" class="img-responsive">
                    <p>The hydraulic device can carry out the lifting, transportation, folding and other ductile movements, which is intelligent and flexible.</p>
                </div>
            </div>
            <div class="xl12 xs6 xm4">
                
            </div>
            <div class="xl12 xs6 xm4">
                <div class="bg2-d1 bg2-d2 bg2-d4">
                    <img src="/special/kxlhh/3.png" class="img-responsive">
                    <p>Various models can be used in the same machine body and the main machines can exchange each other. The more comprehensive function make its application wider.</p>
                </div>
                <div class="bg2-d2">
                    <img src="/special/kxlhh/4.png" class="img-responsive">
                    <p>It is humanized and safe because of the new maintenance hangers, hoisting hooks and operating platforms.</p>
                </div>
            </div>
        </div>
        <div class="bg3">
            <div class="container">
                <h2 class="bg3-h2">Transformation of Construction Waste</h2>
                <div class="line-big">
                    <div class="xm3 xl12 xs6">
                        <div class="tcw">
                            <div class="kp1">
                                <img src="/special/kxlhh/kp1.png" class="img-responsive">
                            </div>
                            <p class="tcw-p1">Scrap metal can be reprocessed into various specifications of steel</p>
                        </div>
                    </div>
                    <div class="xm3 xl12 xs6">
                        <div class="tcw">
                            <div class="kp1">
                                <img src="/special/kxlhh/kp2.png" class="img-responsive">
                            </div>
                            <p class="tcw-p2">The coarse aggregate obtained by crushing the waste concrete blocks can be used directly as gravel for foundation reinforcement, cushion for road,runway and indoor floor. Fine aggregate is used for masonry mortar and plastering mortar.</p>
                        </div>
                    </div>
                    <div class="xm3 xl12 xs6">
                        <div class="tcw">
                            <div class="kp1">
                                <img src="/special/kxlhh/kp3.png" class="img-responsive">
                            </div>
                            <p class="tcw-p3">Muck can be made of slag brick, also can be directly used for greening, landscaping and backfilling cultivated soil</p>
                        </div>
                    </div>
                    <div class="xm3 xl12 xs6">
                        <div class="tcw tcw4">
                            <div class="kp1">
                                <img src="/special/kxlhh/kp4.png" class="img-responsive">
                            </div>
                            <p class="tcw-p4">Waste cement, brick and so on can be made into hollow bricks, solid bricks, square bricks and other environmentally friendly bricks.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="es-h2">Enterprise Strength</h2>
            <div class="line-big">
                <div class="xl12 xs6">
                    <div class="es">
                        <img src="/special/kxlhh/k5.jpg" class="img-res">
                        <p class="es-tit">Production</p>
                        <div class="es-zi fadein-top">
                            <div class="es-zi2">
                                <h3>Production</h3>
                                <p>We possess of two production base that covers an area of over 140000 square meters, three heavy modern production workshop that covers an area of 50000 square meters, has the domestic advanced large vertical lathe, planer, grinder, fixed lathe, milling machine and other equipment nearly 100 Taiwan, powerful production capacity can meet the needs of customers worldwide.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="xl12 xs6">
                    <div class="es">
                        <img src="/special/kxlhh/k6.jpg" class="img-res">
                        <p class="es-tit">Brand </p>
                        <div class="es-zi fadein-right">
                            <div class="es-zi2 es-zi3">
                                <h3>Brand</h3>
                                <p>As one of the crushing screening equipment, industrial milling equipment, mineral processing equipment production bases in China, Kefid has exported a large number of high-end mobile crushing stations and milling equipment to more than 100 countries and regions, and has solved thousands of mineral processing projects for customers. The brand has gained recognition and trust from customers all over the world.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="xl12 xs6">
                    <div class="es">
                        <img src="/special/kxlhh/k7.jpg" class="img-res">
                        <p class="es-tit">Technology </p>
                        <div class="es-zi fadein-bottom">
                            <div class="es-zi2">
                                <h3>Technology</h3>
                                <p>We are committed to exchanges and cooperation with international advanced technology, and actively introduce advanced technology from Germany, Sweden and Finland. We continue to increase investment in scientific research and adhere to innovation, so that we can provide higher quality products, and more advanced technical support for you.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="xl12 xs6">
                    <div class="es">
                        <img src="/special/kxlhh/k8.jpg" class="img-res">
                        <p class="es-tit">Service </p>
                        <div class="es-zi fadein-left">
                            <div class="es-zi2">
                                <h3>Service</h3>
                                <p>We have a worldwide network of services, and you can get our fast feedback and service no matter where you are. Experienced engineers will provide you with equipment selection, installation, commissioning, repair, maintenance and other services. Besides ,we will provide systematic theory and practice training to ensure efficient production for you.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


















        <div class="clearfix"></div>
        <!-- 表单 -->
        {dede:include filename="form.html"/}
    </article>
    <div class="clearfix"></div>
 {dede:include filename="k_footer.html"/} 
   <script>
    var isNotEmpty=function(strVal){if(strVal==''||strVal==null||strVal==undefined){return false}else{return true}};
    var res_img = $("img.res");
    var img_src = isNotEmpty(res_img.attr("data-xb")) ? res_img.attr("data-xb") : isNotEmpty(res_img.attr("data-xm")) ? res_img.attr("data-xm") : isNotEmpty(res_img.attr("data-xs")) ? res_img.attr("data-xs") : isNotEmpty(res_img.attr("data-xm")) ? res_img.attr("data-xm") : "";
    var w_width = $(window).width();
    if (w_width < 1200 && w_width > 999 && isNotEmpty(res_img.attr("data-xm"))) {
        img_src = res_img.attr("data-xm")
    }
    if (w_width < 1000 && w_width > 759 && isNotEmpty(res_img.attr("data-xs"))) {
        img_src = res_img.attr("data-xs")
    }
    if (w_width < 760 && isNotEmpty(res_img.attr("data-xl"))) {
        img_src = res_img.attr("data-xl")
    }
    if (isNotEmpty(img_src)) {
        res_img.attr('src', img_src)
    }
   </script>
</body>

</html>