<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{dede:field.title /} - Kefid Shanghai Sand</title>
    <meta name="keywords" content=" slag powder preparation,slag grinding mill, slag powder mill, slag processing,vertical grinding mill,vertical mill,VM vertical milling machine
    " />
    <meta name="description" content="{dede:field.description /}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <link rel="stylesheet" type="text/css" href="/css/pintuer.css">
    <link rel="stylesheet" type="text/css" href="/css/all.css">
    <link rel="stylesheet" type="text/css" href="/special/kzhh/css/kz.css">
</head>
<body>
    <section class="container">
        <div class="head_top">
            <a href="/"><img src="/img/public/kefid.png"></a>
            <span class="head_right">
                <div><a href="/v3/contact.html">Contact us</a> | <a href="/Case/">Cases</a> | <a href="/v3/products.html">Products</a> | <a href="/solutions/">Solutions</a></div>
            </span>
        </div>
    </section>
    <div class="banner">
       <img class="res img-res" data-xl="/special/kzhh/img/banner2.jpg" data-xs="/special/kzhh/img/banner2.jpg" data-xm="/special/kzhh/img/banner.jpg" data-xb="/special/kzhh/img/banner.jpg" src="">
    </div>
    <article>
        <!-- tit -->
        <div class="bg1">
            <div class="container">
                <div class="line-big">
                    <div class="xl12 xs4 text-center tit-d1">
                        <img src="/special/kzhh/img/t1.png" class="img-responsive"><br>
                        <b>Slag</b><br>
                        <span></span><br>
                        <p>A waste residue discharged from a blast furnace during smelting of pig iron, which can be used as concrete admixture after grinding.</p>
                    </div>
                    <div class="xl12 xs4 text-center tit-d1">
                        <img src="/special/kzhh/img/t2.png" class="img-responsive"><br>
                        <b>Water Slag</b><br>
                        <span></span><br>
                        <p>Blast-furnace slag in the state of hot-melt molten iron is flushed into the water and solid waste produced by rapid cooling. The powder
                            made by drying and grinding the water slag is a high-quality cement raw material.</p>
                    </div>
                    <div class="xl12 xs4 text-center tit-d1">
                        <img src="/special/kzhh/img/t3.png" class="img-responsive"><br>
                        <b>Fly Ash</b><br>
                        <span></span><br>
                        <p>Fly ash is fine ash collected from the flue gas after coal combustion. Fly ash is the main solid waste discharged from coal-fired power
                            plants.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- tit结束 -->
        <!-- Industry Background -->
        <div class="container">
            <h2 class="ib-h2"><b>Industry Background</b></h2>
            <p class="ib-p1">With the expansion of industrial production scale, emissions of slag, water slag, fly ash, etc. have shown an upward trend, and the massive
                discharge of industrial solid waste has had a detrimental effect on the destruction of the environment. As one of the professional powder
                processing industries, Kefid proposes a comprehensive utilization program for slag powder preparation by means of advanced scientific and 
                technological means and innovative development advantages. This not only enables various types of industrial solid waste to be recycled, 
                but also conforms to the international powder industry's energy saving and environmental protection development trend.</p>
            <div class="line-big">
                <div class="xl6 xs3 ib-d1 ib-d2 text-center">
                    <p class="ib-img"><img src="/special/kzhh/img/ib1.png" class="img-responsive"></p>
                    <p>Slag raw materials</p>
                </div>
                <div class="xl6 xs3 ib-d1 ib-d2 text-center">
                    <p class="ib-img"><img src="/special/kzhh/img/ib2.png" class="img-responsive"></p>
                    <p>Mineral powder finished product</p>
                </div>
                <div class="xl6 xs3 ib-d1 ib-d2 text-center">
                    <p class="ib-img"><img src="/special/kzhh/img/ib3.png" class="img-responsive"></p>
                    <p>After partially replacing clinker</p>
                </div>
                <div class="xl6 xs3 ib-d1 text-center">
                    <p class="ib-img"><img src="/special/kzhh/img/ib4.png " class="img-responsive"></p>
                    <p>After partially replacing cement</p>
                </div>
                <div class="clear"></div>
                <div class="plant">
                    <div class="xl12 xm6">
                        <div class="plant-l">
                            <h3>Intelligent Crafts</h3>
                            <p>
                                The slag raw material is taken by a forklift and fed, and conveyed by a belt conveyor. During the conveying process, the slag raw 
                                material is then iron-removed and sieved through the iron remover and the vibrating sieve, and then it is pulverized by the elevator 
                                into the VM vertical milling machine. The slag after grinding is hot-air supplied by a hot blast stove, and the powder is selected 
                                by a separator and dried at the same time. The slag powder that meets the fineness requirements is finally transported to the dust
                                 collector for collection and containment, and then transported by an air transport chute and elevator into the finished product 
                                 warehouse for storage.
                            </p>
                        </div>
                    </div>
                    <div class="xl12 xm6 plant-r">
                        <img src="/special/kzhh/img/lc.jpg" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <!-- Industry Background结束-->
        <!-- Preferred Equipment -->
        <div class="container">
            <h3 class="pe-h3">Preferred Equipment</h3>
            <p class="pe-p1">
                Vertical mill is a large grinding equipment based on years concentrated design and development by introducing advanced European technology
                 and years design and manufacturing experience and market demand of Kefid to solve the problem of low production capacity and high power
                  consumption of traditional grinding mills. Vertical mills can be adopted in cement hydroelectric construction metallurgy chemical and
                   non-metal ore grinding especially in large scale grinding or various ores of lump and grain shape into powder.
            </p>
            <div class="line-big">
                <div class="xl12 xm4 pe-l">
                    <a href="/v3/Grinding-Mill/VM-Vertical-Grinding-Mill.html"><img src="/special/kzhh/img/p1.jpg" class="img-responsive"></a> 
                </div>
                <div class="xl12 xs6 xm4 pe-c">
                    <div class="collapse-toggle">
                        <div class="panel active">
                            <div class="panel-head">
                                
                                <h4><span class="pec-i1"></span> Low operation cost img <span class="a1"></span></h4>
                            </div>
                            <div class="panel-body">
                                <p class="fadein-top">
                                    (1)High grinding efficiency: The roller grinds materials on the mill directly, which makes the energy consumption is .
                                    30%~40% less than the one of Bill Mill.<br>
                                    (2)Little Wear: The roller and lining plate are made of premium material to have long service life.
                                </p>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-head">
                                <h4><span class="pec-i2"></span>Auto-control system<span class="a1"></span></h4>
                            </div>
                            <div class="panel-body">
                                <p class="fadein-left">
                                    The mill is equipped with an auto-control system which allows PCL, centralized and DCS control, which makes the operation
                                     much easier and meets the different needs from the customers.
                                </p>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-head">
                                <h4><span class="pec-i3"></span>The stability of product quality<span class="a1 a3"></span></h4>
                            </div>
                            <div class="panel-body">
                                <p class="fadein-bottom">
                                    The materials stayed shortly in the mill for easily detecting and controlling of the fineness and chemical composition
                                     of products, which can make the final size stable. There is few Ferric in final powder and the ferric content come from 
                                     mechanical wear is easy to remove, the whiteness and purity is high, especial for processing white material.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="xl12 xs6 xm4 pe-r">
                    <div class="collapse-toggle">
                        <div class="panel">
                            <div class="panel-head">
                                <h4><span class="pec-i4"></span>Environmentally-friendly<span class="a1"></span></h4>
                            </div>
                            <div class="panel-body">
                                <p class="fadein-right">
                                    The mill makes small noises in its running because there is no direct contact between rollers and the grinding table,
                                     so it reduces 20-25 dB than that of ball mill. Plus, the vertical mill is totally sealed and the whole system works 
                                     in negative pressure, making little dust.
                                </p>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-head">
                                <h4><span class="pec-i5"></span>High drying ability<span class="a1"></span></h4>
                            </div>
                            <div class="panel-body">
                                <p class="rotatein">
                                    Because the hot wind dries the materials in the mill, a drying machinery is saved. And the temperature of hot wind can
                                     be controlled to suit different moisture conditions of different materials.
                                </p>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-head">
                                <h4><span class="pec-i6"></span>Reliable hydraulic device and easy maintenance<span class="a1 a6"></span></h4>
                            </div>
                            <div class="panel-body">
                                <p class="fadein-top">
                                    Hydraulic device is adopted to control the acting force, and the acting force can be automatically adjusted according 
                                    to different grindability of the raw material, which keeps the grinding mill in a perfect condition, not only reducing 
                                    the consumption of the idle work, but also prolonging the using life of rollers and liners.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Preferred Equipment结束 -->
        <!-- Case Site -->
        <div class="bg-img">
            <div class="container">
                <h3>Case Site</h3>
                <div class="line-big">
                    <div class="xl4"><img src="/special/kzhh/img/case1.jpg" class="img-res"></div>
                    <div class="xl4"><img src="/special/kzhh/img/case2.jpg" class="img-res"></div>
                    <div class="xl4"><img src="/special/kzhh/img/case3.jpg" class="img-res"></div>
                </div>
            </div>
        </div>
        <!-- Case Site结束 -->
        <!-- Service Support-->
        <div class="container">
            <h3 class="ss-h3">Service Support</h3>
            <div class="xl12 xm8 ">
                <div class="san">
                    <div class="xl12 xs6 con1 con1-4"><img src="/special/kzhh/img/con1.jpg" class="img-responsive"></div>
                    <div class="xl12 xs6 con1 con1-1"> 
                        <p>
                            <span>Business Sightseeing</span>
                            As soon as you conduct us for information, the service provided by Kefid has been started. Welcome to our nearly 300,000 square
                            meters production base, if there is an order.
                        </p>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="san2">
                    <div class="xl12 xs6 xm6-left con2 con2-4"><img src="/special/kzhh/img/con2.jpg" class="img-responsive"></div>
                    <div class="xl12 xs6 xm6-right con2 con2-2"> 
                        <p>
                            <span>Scheme Customization</span>
                            We will design grinding line for you privately according to production site, and technicians can recommend suitable machines
                            to meet requirements of capacity.
                        </p>
                    </div>
                </div>
            </div>
            <div class="xl12 xm4 con3">
                <div class="xl12 xs6 xm12 con3-4"> 
                    <img src="/special/kzhh/img/con3.jpg" class="img-responsive">
                </div>
                <div class="xl12 xs6 xm12 con3-3">
                    <p>
                        <span>Client Review</span>
                        We will help you finish consignment, installation and debugging, and there will be regular visit even the machine has been put 
                        into operation. Facing with your problem, we will offer correct solution in 24 hours, and technician can also tell you some tip 
                        about maintenance and operation.
                    </p>
                </div>
            </div>
        </div>
        <!-- Service Support结束-->
        <div class="clearfix"></div>
        <!-- 表单 -->
         {dede:include filename="form.html"/} 
    </article>
    <div class="clearfix"></div>
     {dede:include filename="k_footer.html"/} 
    <script src="/special/kzhh/css/jquery.js"></script>
    <script src="/special/kzhh/css/pintuer.js"></script>
    <script>
		window.onresize = function () {
			autoPic();
		}
		autoPic();
	
		function autoPic() {
			var isNotEmpty = function (strVal) {
				if (strVal == '' || strVal == null || strVal == undefined) {
					return false
				} else {
					return true
				}
			};
			var res_img = $("img.res");
			res_img.each(function(){
				var img_src = isNotEmpty($(this).attr("data-xb")) ? $(this).attr("data-xb") : isNotEmpty($(this).attr("data-xm")) ?
						$(this).attr("data-xm") : isNotEmpty($(this).attr("data-xs")) ? $(this).attr("data-xs") : isNotEmpty(
						$(this).attr("data-xm")) ? $(this).attr("data-xm") : "";
				var w_width = $(window).width();
				if (w_width < 1200 && w_width > 999 && isNotEmpty($(this).attr("data-xm"))) {
					img_src = $(this).attr("data-xm")
				}
				if (w_width < 1000 && w_width > 759 && isNotEmpty($(this).attr("data-xs"))) {
					img_src = $(this).attr("data-xs")
				}
				if (w_width < 760 && isNotEmpty($(this).attr("data-xl"))) {
					img_src = $(this).attr("data-xl")
				}
				if (isNotEmpty(img_src)) {
					$(this).attr('src', img_src)
				}
			})				
		}
	</script>
</body>

</html>