<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{dede:field.title /} - Kefid Shanghai LUM</title>
    <meta name="keywords" content="{dede:field.keywords /}" />
    <meta name="description" content="{dede:field.description /}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <link rel="stylesheet" type="text/css" href="/css/pintuer.css">
    <link rel="stylesheet" type="text/css" href="/css/all.css">
    <link rel="stylesheet" type="text/css" href="/special/limo/lum.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/pintuer.js"></script>
    <script src="/js/footer.js"></script>
</head>

<body>
     <section class="container">
        <div class="head_top">
            <a href="/"><img src="/img/public/kefid.png"></a>
            <span class="head_right">
                <div><a href="/v3/contact.html">Contact us</a> | <a href="/Case/">Cases</a> | <a href="/v3/products.html">Products</a> | <a href="/solutions/">Solutions</a></div>
            </span>
        </div>
    </section>
    <div class="lum-a">
        <img class="res ress" data-xl="/special/limo/banner-l.jpg" data-xs="" data-xm="/special/limo/banner.jpg" alt="">
    </div>
    <div class="container">
        <div class="lum-b">
            <h1>Focus on Three Areas</h1>
            <div class="lum-b-1">
                <span>Nonmetallic ore / Coal / Slag</span>
            </div>
            <ul class="list-unstyle line-big lum-c">
                <li class="xl12 xs4">
                    <a href="">
                        <img src="/special/limo/1.jpg" class="res" alt="">
                        <div class="lum-c-1">
                            <div class="lum-c-2">
                                <h3>Nonmetallic ore：Ore mill</h3>
                            </div>
                            <p>Cement raw material, power desulfurization powder, gypsum powder, weathering metal ore, non-metallic ore Mohs hardness below 4, the density of 4.6 below, the compressive strength of 170Mpa below, non-flammable and explosive, non-corrosive brittle material.</p>
                        </div>
                    </a>
                </li>
                <li class="xl12 xs4">
                    <a href="">
                        <img src="/special/limo/2.jpg" class="res" alt="">
                        <div class="lum-c-1">
                            <div class="lum-c-2">
                                <h3>Coal：Coal mill</h3>
                            </div>
                            <p>Thermal power, steel, coal injection boiler and other coal.</p>
                        </div>
                    </a>
                </li>
                <li class="xl12 xs4">
                    <a href="">
                        <img src="/special/limo/3.jpg" class="res" alt="">
                        <div class="lum-c-1">
                            <div class="lum-c-2">
                                <h3>Slag：Slag mill</h3>
                            </div>
                            <p>Slag, fly ash, bauxite, metal ore, weathering quartz, feldspar, granite and other Mohs hardness in 4-6, density below 4.6, compressive strength of 170 ~ 240Mpa, non-flammable and explosive, no corrosive brittle materials.</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="lum-adv">
            <h1>Six Advantages </h1>
            <ul class="list-unstyle line-big">
                <li class="xl12 xm4">
                    <div class="lum-adv-a">
                        <h5><img src="/special/limo/a-1.jpg" alt=""> Low operation cost</h5>
                        <p>(1)High grinding efficiency: The roller grinds materials on the mill directly, which makes the energy consumption is 30%~40% less than the one of Bill Mill.</p>
                        <p>(2)Little Wear: The roller and lining plate are made of premium material to have long service life.</p>
                    </div>
                    <div class="lum-adv-a">
                        <h5><img src="/special/limo/a-2.jpg" alt=""> Reliable hydraulic device and easy maintenance</h5>
                        <p>Hydraulic device is adopted to control the acting force, and the acting force can be automatically adjusted according to different grindability of the raw material, which keeps the grinding mill in a perfect condition, not only reducing the consumption of the idle work, but also prolonging the using life of rollers and liners.</p>
                    </div>
                </li>
                <li class="xl12 xm4 struct">
                    <img src="/special/limo/4.jpg" alt="">
                </li>
                <li class="xl12 xm4">
                    <div class="lum-adv-a">
                        <h5><img src="/special/limo/a-3.jpg" alt=""> High drying ability</h5>
                        <p>Because the hot wind dries the materials in the mill, a drying machinery is saved. And the temperature of hot wind can be controlled to suit different moisture conditions of different materials.</p>
                    </div>
                    <div class="lum-adv-a">
                        <h5><img src="/special/limo/a-4.jpg" alt=""> The stability of product quality</h5>
                        <p>The materials stayed shortly in the mill for easily detecting and controlling of the fineness and chemical composition of products, which can make the final size stable. There is few Ferric in final powder and the ferric content come from mechanical wear is easy to remove, the whiteness and purity is high, especial for processing white material.</p>
                    </div>
                </li>
            </ul>
            <ul class="list-unstyle line-big adv-56">
                <li class="xl12 xm6 adv-5">
                    <h5><img src="/special/limo/a-7.jpg" class="a-7" alt="">Auto-control system <img src="/special/limo/a-5.jpg" alt="" class="a-5"></h5>
                    <p>The mill is equipped with an auto-control system which allows PCL, centralized and DCS control, which makes the operation much easier and meets the different needs from the customers.</p>
                </li>
                <li class="xl12 xm6">
                    <h5><img src="/special/limo/a-6.jpg" alt=""> Environmentally-friendly</h5>
                    <p>The mill makes small noises in its running because there is no direct contact between rollers and the grinding table, so it reduces 20-25 dB than that of ball mill. Plus, the vertical mill is totally sealed and the whole system works in negative pressure, making little dust.</p>
                </li>
            </ul>
        </div>
        
    </div>
    <div class="lum-d">
        <div class="container">
            <ul class="list-unstyle line-big">
                <li class="xl12 xm6 xm6-left">
                    <h1>Quest Production System</h1>
                    <p>The main motor through the reducer to drive the grinding wheel rotation, while the hot air from the inlet into the vertical mill, the material from the feed down the center of the disc, under the action of centrifugal force, the material from the center of the disc to the edge of the uniform movement, the roller area is crushed by crushing. And then shredded material to the edge of the disc to move, qualified fine powder with the air with the grinding, the system is collected by the collector is finished.</p>
                </li>
                <li class="xl12 xm6 xm6-right ">
                    <img src="/special/limo/5.jpg" alt="" >
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="lum-e">
            <h1>Work site</h1>
            <ul class="list-unstyle line-big">
                <li class="xl12 xm6">
                    <a href="//www.kefidchina.com/Case/Europe/208.html">
                        <img src="/special/limo/6.jpg" alt="">
                        <div class="lum-e-1">
                            <h4>Russia 40-50t/h limestone grinding mills</h4>
                            <p>MATERIAL :  Limestone</p>
                            <p>FEEDING SIZE :  25mm</p>
                            <p>OUTPUT SIZE :  0.074mm</p>
                            <p>CAPACITY :  40-50 t/h</p>
                            <p>CONFIGURATION :  190K vertical mill</p>
                        </div>
                    </a>
                </li>
                <li class="xl12 xm6">
                    <a href="">
                        <img src="/special/limo/7.jpg" alt="">
                        <div class="lum-e-1">
                            <h4>China 18-20t/h coal grinding mills</h4>
                            <p>MATERIAL :   Coal</p>
                            <p>FEEDING SIZE :  20mm</p>
                            <p>OUTPUT SIZE :  200mesh</p>
                            <p>CAPACITY :  18-20 t/h</p>
                            <p>CONFIGURATION :  150K vertical mill</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
     {dede:include filename="form.html"/}
    <div class="clearfix"></div>
   {dede:include filename="k_footer.html"/} 
    <script>
var isNotEmpty=function(strVal){if(strVal==''||strVal==null||strVal==undefined){return false}else{return true}};
var res_img = $("img.ress");
var img_src = isNotEmpty(res_img.attr("data-xb")) ? res_img.attr("data-xb") : isNotEmpty(res_img.attr("data-xm")) ? res_img.attr("data-xm") : isNotEmpty(res_img.attr("data-xs")) ? res_img.attr("data-xs") : isNotEmpty(res_img.attr("data-xm")) ? res_img.attr("data-xm") : "";
var w_width = $(window).width();
if (w_width < 1200 && w_width > 999 && isNotEmpty(res_img.attr("data-xm"))) {
    img_src = res_img.attr("data-xm")
}
if (w_width < 1000 && w_width > 759 && isNotEmpty(res_img.attr("data-xs"))) {
    img_src = res_img.attr("data-xs")
}
if (w_width < 760 && isNotEmpty(res_img.attr("data-xl"))) {
    img_src = res_img.attr("data-xl")
}
if (isNotEmpty(img_src)) {
    res_img.attr('src', img_src)
}
</script>
</body>
</html>