<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{dede:field.title /} -</title>
    <meta name="keywords" content="fly ash grinding mill, coal mill, coal grinding mill, coal pulverizer, vertical coal mill, pulverized coal preparation system" />
    <meta name="description" content="Coal as a fuel has been started 800 years ago. With the invention and application of steam engine, coal is widely used in metallurgy, chemical industry, cement, electric power, heating, boiler and other industries as high-quality fuel, which has brought unprecedented productivity to the society, and is known as the real industrial food. With the gradual increase of market demand, the preparation of pulverized coal has also raised a upsurge." />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <link rel="stylesheet" type="text/css" href="/css/pintuer.css">
    <link rel="stylesheet" type="text/css" href="/css/all.css">
    <link rel="stylesheet" type="text/css" href="/special/mfzb/mfzb.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/pintuer.js"></script>
    <script src="/js/footer.js"></script>
</head>
<body>
    <section class="container">
        <div class="head_top">
            <a href="/"><img src="/img/public/kefid.png"></a>
            <span class="head_right">
                <div><a href="/v3/contact.html">Contact us</a> | <a href="/Case/">Cases</a> | <a href="/v3/products.html">Products</a> | <a href="/solutions/">Solutions</a></div>
            </span>
        </div>
    </section>
    <div class="banner">
       <img class="res img-res" data-xl="/special/mfzb/banner2.jpg" data-xs="/special/mfzb/banner2.jpg" data-xm="/special/mfzb/banner.jpg" data-xb="/special/mfzb/banner.jpg" src="">
    </div>
    <div class="bg1">
        <div class="container mf-one">
            <div class="xl12 xm1"></div>
            <div class="xl12 xm10 mf-t1">
                <h2>" INDUSTRIAL GRAIN "</h2>
                <p>Coal as a fuel has been started 800 years ago. With the invention and application of steam engine, coal is widely used in metallurgy, chemical industry, cement, electric power, heating, boiler and other industries as high-quality fuel, which has brought unprecedented productivity to the society, and is known as the real "industrial food". With the gradual increase of market demand, the preparation of pulverized coal has also raised a upsurge.</p>
            </div>
            <div class="xl12 mf-t2">
                <h2>SPECIFIC USE</h2>
                <div class="line-big">
                    <div class="xl6 xs3"><a href="/v3/Grinding-Mill/VM-Vertical-Grinding-Mill.html"><img src="/special/mfzb/m1.jpg" class="img-responsive"></a></div>
                    <div class="xl6 xs3"><a href="/v3/Grinding-Mill/European-Hammer-Mill.html"><img src="/special/mfzb/m2.jpg" class="img-responsive"></a></div>
                    <div class="xl6 xs3"><a href="/v3/Grinding-Mill/T130X-Super-fine-Grinding-Mill.html"><img src="/special/mfzb/m3.jpg" class="img-responsive"></a></div>
                    <div class="xl6 xs3"><a href="/v3/Grinding-Mill/Raymond-Mill.html"><img src="/special/mfzb/m4.jpg" class="img-responsive"></a></div>
                </div>
            </div>
            <div class="xl12 mf-t3">
                <div class="xl12 xs3 t3-l"><span class="t3-sp1">CLEAN</span><br><span class="t3-sp2">PRODUCTION</span><br><span class="t3-sp3">THE GENERAL TREND</span></div>
                <div class="xl12 xs9"><p class="t3-p1">In the process of pulverized coal production, it is very easy to produce pollution, and  the limitation of technology make the processing efficiency low, which causes a lot of waste. However, the coal is the non renewable resource, so it becomes an urgent problem that how to avoid pollution and improve its utilization. In order to solve this problem, it is necessary to use appropriate equipment and advanced technology to achieve high efficiency and clean of pulverized coal preparation.</p></div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="container">
            <p class="t4-p1">CLEAN PRODUCTION</p>
            <p class="t4-p2">EQUIPMENT IS THE KEY</p>
            <div class="line-big t4-c1">
                    <div class="xl12 xm4">
                        <div class="c1-l">
                            <h2>MTW SERIES HEAVY<br> TRAPEZOID MILL</h2>
                            <p class="c1-p1">OUTPUT SIZE :  1.6-0.038MM<br>PRODUCTION CAPACITY : 3.5-45T/H</p>
                            <div class="c1-d1">
                                <b>ADVANTAGE</b>
                                <p>-Bevel gear transmission, energy consumption reduction 20~30%.</p>
                                <p>-Variable frequency control, controllable and adjustable particle size.</p>
                                <p>-Advanced technology, high efficiency and low operation cost.</p>
                                <p>-Passed the environmental certification, and meet the clean requirements.consumption.</p>
                            </div>
                        </div>
                    </div>
                    <div class="xl12 xm8">
                        <div class="c1-r">
                            <div class="c1-r2">
                                <img src="/special/mfzb/san.jpg" class="san">
                                <div class="xl12 xs6 c1-i"><a href="/v3/Grinding-Mill/MTW-Series-Trapezoid-Mill.html"><img src="/special/mfzb/c1.jpg" class="img-responsive"></a></div>
                                <div class="xl12 xs6 c1-p2">
                                    <p><b>HONOR</b> : curved surface duct, patented design, curved blade, bevel gear lubricating device, air inlet volute technology.</p>
                                    <div class="line-big">
                                        <div class="xl6"><img src="/special/mfzb/c1-1.jpg" class="img-responsive"></div>
                                        <div class="xl6"><img src="/special/mfzb/c1-2.jpg" class="img-responsive"></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
            </div>
            <div class="line-big t4-c1">
                 <div class="xl12 xm4 xm8-left">
                        <div class="c1-l">
                            <h2>VM - VERTICAL GRINDING  MILL</h2>
                            <p class="c1-p1 c2-p1">INPUT SIZE：＜50mm<br>
                                OUTPUT SIZE : 20-425mesh（0.84-0.033mm）<br>
                                PRODUCTION CAPACITY : 10-300t/h</p>
                            <div class="c1-d1 c2-d1">
                                <b>ADVANTAGE</b>
                                <p>-Advanced technology, high efficiency and energy saving.</p>
                                <p>-Automatic control, convenient and accurate.</p>
                                <p>-Circulating lubrication, safe and reliable.</p>
                                <p>-Balanced grinding pressure, stable product quality.</p>
                            </div>
                        </div>
                    </div>
                    <div class="xl12 xm8 xm4-right">
                        <div class="c2-r">
                            <div class="c2-r2">
                                <img src="/special/mfzb/san2.jpg" class="san2">
                                <div class="xl12 xs6 c1-i"><a href="/v3/Grinding-Mill/VM-Vertical-Grinding-Mill.html"><img src="/special/mfzb/c2.jpg" class="img-responsive"></a></div>
                                <div class="xl12 xs6 c1-p2">
                                    <p><b>HONOR</b> : the bearing lubricating device and closed loop control system for grader, and technical indexes reach the international advanced level. </p>
                                    <div class="line-big">
                                        <div class="xl6"><img src="/special/mfzb/c2-1.jpg" class="img-responsive"></div>
                                        <div class="xl6"><img src="/special/mfzb/c2-2.jpg" class="img-responsive"></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
            </div>
            <div class="line-big t4-c1">
                    <div class="xl12 xm4">
                        <div class="c1-l c2-l">
                            <h2>RAYMOND MILL</h2>
                            <p class="c1-p1">INPUT SIZE :  15-25mm<br>
                            OUTPUT SIZE :  0.044-0.165 mm<br>
                            PRODUCTION CAPACITY : Up to 3.2TPH capacity, depends on the size of fineness</p>
                            <div class="c1-d1 c3-d1">
                                <b>ADVANTAGE</b>
                                <p>-Simple structure, easy operation and low cost.</p>
                                <p>-Self - independent production system, the process is complete.</p>
                                <p>-The fineness is in 613μm~440μm, screening rate is up to 99%.</p>
                                <p>-High capacity and high efficiency and less consumption.</p>
                            </div>
                        </div>
                    </div>
                    <div class="xl12 xm8">
                        <div class="c1-r">
                            <div class="c1-r2">
                                <img src="/special/mfzb/san.jpg" class="san">
                                <div class="xl12 xs6 c1-i"><a href="/v3/Grinding-Mill/Raymond-Mill.html"><img src="/special/mfzb/c3.jpg" class="img-responsive"></a></div>
                                <div class="xl12 xs6 c1-p2">
                                    <p><b>HONOR</b> :  it is called the forerunner of the grinding industry, and the self drive disc rotor technology got the patent </p>
                                    <div class="line-big">
                                        <div class="xl6"><img src="/special/mfzb/c3-1.jpg" class="img-responsive"></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
            </div>
        </div>
        
    </div>
    <div class="bg2">
            <div class="container">
                <div class="bg2-t">
                    <h2>HELP TO GREEN PRODUCTION, WE CAN DO MORE</h2>
                </div>
                <div class="line-big">
                    <div class="xl4 xm2 bg2-p1"><img src="/special/mfzb/p1.png" class="img-responsive"><p>Raw Material testing</p></div>
                    <div class="xl4 xm2 bg2-p1"><img src="/special/mfzb/p2.png" class="img-responsive"><p>Program Design</p></div>
                    <div class="xl4 xm2 bg2-p1"><img src="/special/mfzb/p3.png" class="img-responsive"><p>On-site Planning</p></div>
                    <div class="xl4 xm2 bg2-p1"><img src="/special/mfzb/p4.png" class="img-responsive"><p>Installation Guidance</p></div>
                    <div class="xl4 xm2 bg2-p1"><img src="/special/mfzb/p5.png" class="img-responsive"><p>Technical Training </p></div>
                    <div class="xl4 xm2 bg2-p1"><img src="/special/mfzb/p6.png" class="img-responsive"><p>After-sale Maintenance</p></div>
                </div>
            </div>
        </div>
    <div class="container">
        <p class="fimg">RELATED EQUIPMENT RECOMMENDATION ...</p>
        <div class="line-big">
            <div class="xl6 xs3 fe"><a href="/v3/Grinding-Mill/T130X-Super-fine-Grinding-Mill.html"><img src="/special/mfzb/f1.png" class="img-responsive">
            <p>T130X Grinding Mill</p></a></div>
            <div class="xl6 xs3 fe"> <a href="/v3/Grinding-Mill/Micro-Powder-Mill.html"><img src="/special/mfzb/f2.png" class="img-responsive">
           <p>Micro Powder Mill</p></a></div>
            <div class="xl6 xs3 fe"><a href="/v3/Grinding-Mill/Trapezium-Mill.html"><img src="/special/mfzb/f3.png" class="img-responsive">
            <p>Trapezium Mill</p></a></div>
            <div class="xl6 xs3 fe"><a href="/v3/Grinding-Mill/MB5X.html"><img src="/special/mfzb/f4.png" class="img-responsive">
            <p>MB5X  Grinding Mill</p></a></div>
        </div>
    </div>
    <article>
       
                    
   
        
        
        <div class="clearfix"></div>
        <!-- 表单 -->
        {dede:include filename="form.html"/}
    </article>
    <div class="clearfix"></div>
{dede:include filename="k_footer.html"/} 
   <script>
    var isNotEmpty=function(strVal){if(strVal==''||strVal==null||strVal==undefined){return false}else{return true}};
    var res_img = $("img.res");
    var img_src = isNotEmpty(res_img.attr("data-xb")) ? res_img.attr("data-xb") : isNotEmpty(res_img.attr("data-xm")) ? res_img.attr("data-xm") : isNotEmpty(res_img.attr("data-xs")) ? res_img.attr("data-xs") : isNotEmpty(res_img.attr("data-xm")) ? res_img.attr("data-xm") : "";
    var w_width = $(window).width();
    if (w_width < 1200 && w_width > 999 && isNotEmpty(res_img.attr("data-xm"))) {
        img_src = res_img.attr("data-xm")
    }
    if (w_width < 1000 && w_width > 759 && isNotEmpty(res_img.attr("data-xs"))) {
        img_src = res_img.attr("data-xs")
    }
    if (w_width < 760 && isNotEmpty(res_img.attr("data-xl"))) {
        img_src = res_img.attr("data-xl")
    }
    if (isNotEmpty(img_src)) {
        res_img.attr('src', img_src)
    }
   </script>
</body>

</html>