<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{dede:field.title /} - Kefid Shanghai Machinery</title>
    <meta name="keywords" content="{dede:field.keywords /}" />
    <meta name="description" content="{dede:field.description /}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <link rel="stylesheet" type="text/css" href="/css/pintuer.css">
    <link rel="stylesheet" type="text/css" href="/css/all.css">
    <link rel="stylesheet" type="text/css" href="/special/mtw/mtw.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/pintuer.js"></script>
    <script src="/js/footer.js"></script>
</head>

<body>
    <section class="container">
        <div class="head_top">
            <a href="/"><img src="/img/public/kefid.png"></a>
            <span class="head_right">
                <div><a href="/v3/contact.html">Contact us</a> | <a href="/Case/">Cases</a> | <a href="/v3/products.html">Products</a> | <a href="/solutions/">Solutions</a></div>
            </span>
        </div>
    </section>
    <div class="banner">
        <img src="/special/mtw/banner.jpg" /></div>
    <article class="intro clearfix">
        <section class="container">
            <div class="line-big">
                <p class="xs12">MTW Series Trapezoid Mill is Kefid in the absorption of European grinding technology and philosophy based on the development of patented products, with a number of independent patent rights, the model uses a bevel gear overall drive, internal thin oil lubrication system, curved duct and other new patented technology, as the traditional Raymond Mill, tilting mill replacement products, is widely used in power plant desulfurization, large non-metallic mineral milling and building materials and chemical and other fields. </p>
            </div>
        </section>
    </article>
    <article class="container">
        <p class="tit">APPLICATION AREAS</p>
        <section class="line-big sec1">
            <div class="xs6 xm3">
                <img src="/special/mtw/appli1.jpg" class="img-responsive img-max" alt="">
                <p>Large <br class="disn"/>non - metallic mineral powder</p>
            </div>
            <div class="xs6 xm3">
                <img src="/special/mtw/appli2.jpg" class="img-responsive img-max" alt="">
                <p>Environmental desulfurization limestone milling</p>
            </div>
            <div class="xs6 xm3">
                <img src="/special/mtw/appli3.jpg" class="img-responsive img-max" alt="">
                <p>Slag powder <br class="disn"/>processing</p>
            </div>
            <div class="xs6 xm3">
                <img src="/special/mtw/appli4.jpg" class="img-responsive img-max" alt="">
                <p>Blast furnace <br class="disn"/>injection of coal</p>
            </div>
        </section>
        
        <p class="tit">PERFORMANCE CHARACTERISTICS</p>
        <section class="line sec2">
            <div class="xs12 marg">
                <h5>-01- Mature</h5>
                <p>Years of quality accumulation, four generations of mature grinding mill, condensate technology essence.</p>
                <div class="xm6">
                    <div class="xs6 pro clearfix">
                        <div class="xs6"><img src="/special/mtw/pro1.png" alt="" ></div>
                        <p class="xs6 wor">First Generation</p>
                        <p class="ye">1987</p>
                    </div>
                    <div class="xs6 pro clearfix">
                        <div class="xs6"><img src="/special/mtw/pro2.png" alt="" ></div>
                        <p class="xs6 wor">Third Generation</p>
                        <p class="ye">2005</p>
                    </div>
                    <div class="xs6 pro clearfix">
                        <div class="xs6 xm5 xb6"><img src="/special/mtw/pro3.png" alt="" ></div>
                        <p class="xs6 xm7 xb6 wor">Second Generation</p>
                        <p class="ye">1994</p>
                    </div>
                    <div class="xs6 pro clearfix">
                        <div class="xs6"><img src="/special/mtw/pro4.png" alt="" ></div>
                        <p class="xs6 wor">Fourth Generation</p>
                        <p class="ye">2009</p>
                    </div>
                </div>
                <div class="xm6">
                    <div class="xs6 pro1">
                        <a href="/v3/Grinding-Mill/MTW-Series-Trapezoid-Mill.html"><img src="/special/mtw/pro5.png" alt=""></a>
                        <p class=" ye ye1">2015</p>
                    </div>
                    <div class="xs6 pro-int">
                        <p>Fifth Generation</p>
                        <p><a href="/v3/Grinding-Mill/MTW-Series-Trapezoid-Mill.html">MTW Series Trapezoid Mill(Patent)</a></p>
                        <p>· Curved design, highlighting the human nature, reducing the risk of manual operation.</p>
                        <p>· Unique air self circulation system, with advanced dust collector, energy saving and environmental protection.</p>
                        <a href="/v3/Grinding-Mill/MTW-Series-Trapezoid-Mill.html"><span class="but">See more</span></a>
                    </div>
                </div>
                
            </div>
            
            
            
        </section>
        <section class="line-big sec3">
            <div class="xm6 marg clearfix">
                <h5>-02- Advanced</h5>
                <div class="adv">
                    <p>The introduction of European technology, national patent products.</p>
                    <p>New internal thin oil lubrication system, no need for external pump or lubrication station, you can achieve bearing lubrication.</p>
                    <p>Curved air duct, air flow resistance is small, easy to block material, improve the efficiency of the fan.</p>
                </div>
                <div class="xl4 advbot ad1">
                    <img src="/special/mtw/advanced1.jpg" alt="" class="img-responsive img-max">
                    <p>Maintenance guards<span>ZL 2014 2 0803558.9</span></p>
                </div>
                <div class="xl4 advbot ad2">
                    <img src="/special/mtw/advanced2.jpg" alt="" class="img-responsive img-max">
                    <p>Intelligent automatic adjustment controller<span>ZL 2015 2 0007056.X</span></p>
                </div>
                <div class="xl4 advbot ad3">
                    <img src="/special/mtw/advanced3.jpg" alt="" class="img-responsive img-max">
                    <p>European trapezoidal milling machine<span>ZL 2013 3 0493046.8</span></p>
                </div>
            </div>
            <div class="xm6 marg clearfix">
                <h5>-03- Low energy consumption</h5>
                <div class="adv">
                    <p>The surface can be changed blade blade, while reducing material wear and tear, improve production and utilization, lower cost.</p>
                    <p>Frequency analysis machine + isolation cyclone collector, powder and powder collection efficiency, finished fineness up to 1.6-0.045mm.</p>
                    <p>Unimpeded volute volute + with the resistance of the layout program, reducing the economic losses caused by the system energy consumption.</p>
                </div>
                <div class=" advbot">
                    <img src="/special/mtw/low-ene.jpg" alt="" class="img-responsive img-max">
                </div>
            </div>
            <div class="xm6 marg clearfix">
                <h5>-04- Large capacity</h5>
                <div class="adv">
                    <p>Roller linkage pressurization technology, advanced production capacity, the same power production increased by 20%.</p>
                    <p>Bevel gear overall drive, accurate transmission ratio, reduced transmission chain, reduced energy loss, improved performance</p>
                </div>
                <div class="xs6 advbot">
                    <img src="/special/mtw/large1.jpg" alt="" class="img-responsive img-max">
                </div>
                <div class="xs6 advbot">
                        <img src="/special/mtw/large2.jpg" alt="" class="img-responsive img-max">
                    </div>
            </div>
            <div class="xm6 marg clearfix">
                <h5>-05- Environmental protection</h5>
                <div class="adv">
                    <p>Dust emissions: the allocation of special dust collector, dust removal efficiency, up to 99.9% or more.</p>
                    <p>Operating noise: new pendulum structure, roller and grinding ring in the grinding process is not direct contact, the machine vibration is small, low noise.</p>
                </div>
        </section>
        <p class="tit">PRODUCTION SITE</p>
        <section class="line-big sec4 marg">
            <a href="/Case/LatinAmerica/215.html">
            <div class="xm6 case1">
                <img src="/special/mtw/site1.jpg" alt="" class="img-responsive img-max">
                <div class="site">
                    <p>Comubia 12tph coke grinding mills</p>
                    <p><b>MATERIAL :  </b>Coke</p>
                    <p><b>FEEDING SIZE :  </b>10mm</p>
                    <p><b>OUTPUT SIZE :  </b>0.5mm</p>
                    <p><b>CAPACITY :  </b>12 t / h</p>
                    <p><b>CONFIGURATION :  </b>Hammer mill+ dryer + vibrating screen + belt conveyor+175 European Tech.grinding mill</p>
                </div>
            </div>
            </a>
            <a href="/Case/LatinAmerica/214.html">
            <div class="xm6 case1">
                <img src="/special/mtw/site2.jpg" alt="" class="img-responsive img-max">
                <div class="site">
                    <p>Chile 13t/h dolomite grinding equipment</p>
                    <p><b>MATERIAL :  </b>Dolomite</p>
                    <p><b>FEEDING SIZE :  </b>80mm</p>
                    <p><b>OUTPUT SIZE :  </b>180 mesh</p>
                    <p><b>CAPACITY :  </b>13 t / h</p>
                    <p><b>CONFIGURATION :  </b>400x600 jaw crusher+bucket elevator + vibrating feeder + 138 European Tech. grinding mill</p>
                </div>
            </div>
            </a>
        </section>
        <div class="clearfix"></div>
        <p class="tit">ASSOCIATED EQUIPMENT</p>
        <section class="line-big sec5 marg">
            <a href="/v3/Grinding-Mill/VM-Vertical-Grinding-Mill.html">
            <div class="product xs6 xm3">
                <img src="/special/mtw/product1.jpg" alt="" class="img-responsive img-max">
                <p>VM - Vertical Grinding Mill</p>
            </div>
            </a>
            <a href="/v3/Grinding-Mill/Micro-Powder-Mill.html">
            <div class="product xs6 xm3">
                <img src="/special/mtw/product2.jpg" alt="" class="img-responsive img-max">
                <p>Micro Powder Mill</p>
            </div>
            </a>
            <a href="/v3/Grinding-Mill/High-Pressure-Mill.html">
            <div class="product xs6 xm3">
                <img src="/special/mtw/product3.jpg" alt="" class="img-responsive img-max">
                <p>High Pressure Mill</p>
            </div>
            </a>
            <a href="/v3/Grinding-Mill/Trapezium-Mill.html">
            <div class="product xs6 xm3">
                <img src="/special/mtw/product4.jpg" alt="" class="img-responsive img-max">
                <p>Trapezium Mill</p>
            </div>
            </a>
        </section>
        <div class="clearfix"></div>
        <!-- 表单 -->
        {dede:include filename="form.html"/}
    </article>
    <div class="clearfix"></div>
    {dede:include filename="k_footer.html"/}
</body>

</html>