<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{dede:field.title /} - Kefid Shanghai Sand</title>
    <meta name="keywords" content=" calcium carbonate mill, calcium carbonate grinding equipment, calcium carbonate powder mill, CaCO3 grinding mill, 
    mtw european grinding mill, vertical grinding mill, micro powder mill, ultra fine mill" />
    <meta name="description" content="{dede:field.description /}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <link rel="stylesheet" type="text/css" href="/css/pintuer.css">
    <link rel="stylesheet" type="text/css" href="/css/all.css">
    <link rel="stylesheet" type="text/css" href="/special/tsg/css/tsg.css">
</head>
<body>
    <section class="container">
        <div class="head_top">
            <a href="/"><img src="/img/public/kefid.png"></a>
            <span class="head_right">
                <div><a href="/v3/contact.html">Contact us</a> | <a href="/Case/">Cases</a> | <a href="/v3/products.html">Products</a> | <a href="/solutions/">Solutions</a></div>
            </span>
        </div>
    </section>
    <div class="banner">
       <img class="res img-res" data-xl="/special/tsg/banner2.jpg" data-xs="/special/tsg/banner2.jpg" data-xm="/special/tsg/banner.jpg" data-xb="/special/tsg/banner.jpg" src="">
       <div class=" container">
           <div class="bg1">
               <p>
                   <span>Preface</span><br>Calcium carbonate, commonly known as limestone, powdered stone, marble, etc., is an inorganic compound
                     whose main component is calcite, which is essentially insoluble in water and soluble in hydrochloric acid. It is often found in rocks
                     such as calcite, chalk, limestone, and marble. It is also the main component of animal bones or shells. According to different production 
                     methods, calcium carbonate can be classified into heavy calcium carbonate, light calcium carbonate, colloidal calcium carbonate,
                      and crystalline carbonic acid calcium. Among them, heavy calcium is produced by mechanically crushing natural calcite, limestone,
                    chalk, shells, etc., and has important applications in industrial production.
                </p>
           </div>
       </div>
    </div>
    <article>
        <!-- application -->
        <div class="container">
            <h2 class="app-h2 text-center">Application</h2>
            <img src="/special/tsg/app1.jpg" class="img-res">
            <p class="app-p1">
                    Heavy calcium carbonate particles are irregular in shape, mostly dispersed powders, and the average particle size is generally 5-10 μm.
                     Different fineness powder application fields are not the same. For example, the powder within 200 meshes can be used for various feed 
                     additives. The calcium content is 55.6 or more without harmful components. The 350 mesh-400 mesh powder can be used for manufacturing 
                     the buckle plate and falling into the water. pipelines, chemicals, and whiteness are above 93 degrees. Therefore, the inspection of heavy
                    calcium raw materials is an important measure for the application prospect of heavy calcium. Cofield has rich experience in heavy calcium
                    milling, high-end precision testing equipment, can quickly help customers in raw material analysis and testing, including particle size
                    analysis, product screening rate and other finished product inspection, with real and reliable analysis of data helping customers to
                     develop markets in different areas according to different granularities in order to more accurately position the market.
            </p>
        </div>
        <!-- application结束 -->
        <!-- equipment -->
        <div class="container">
            <h2 class="app-h2 text-center">Equipment</h2>
            <p class="app-p1">
                    According to the market demand for different areas of heavy calcium powder, Kefid after years of practice, devote themselves to research
                     and development for a full set of tungsten powder  grinding equipment, which covers the fine sand, coarse powder, fine powder, micro 
                     powder and other fields, according to customer fineness, production, investment and other requirements can be diversified options.
            </p>
            <div class="line-big">
                <div class="xl12 xb6 eq eq-mb2">
                    <div class="xl12 xs6 xm6">
                        <a href="/v3/Grinding-Mill/MTW-Series-Heavy-Trapezoid-Mill.html"><img src="/special/tsg/p1.png" class="img-responsive"></a>
                    </div>
                    <div class="xl12 xs6 xm6">
                        <a href="/v3/Grinding-Mill/MTW-Series-Heavy-Trapezoid-Mill.html"><h3 class="eq-h3"><b>MTW-Series European Tech. Grinding Mill </b></h3></a>
                        <p class="eq-p1">
                            12-400mesh(1.6-0.038mm)<br>
                            Production capacity :2-50t/h
                        </p>
                        <p class="eq-p2">
                            <b>Advantages:</b><br>
                            Equipment mature and stable, low operating costs;<br>
                            Exclusive use of thin oil lubrication, advanced transmission;<br>
                            Frequency conversion powder, high precision;<br>
                            Integrated solution, energy saving and environmental protection.
                        </p>
                    </div>
                </div>
                <div class="xl12 xb6 eq eq-mb2">
                    <div class="xl12 xs6 xm6">
                        <a href="/v3/Grinding-Mill/VM-Vertical-Grinding-Mill.html"><img src="/special/tsg/p2.png" class="img-responsive"></a>
                    </div>
                    <div class="xl12 xs6 xm6">
                        <a href="/v3/Grinding-Mill/VM-Vertical-Grinding-Mill.html"><h3 class="eq-h3 eq-mb"><b>VM - Vertical Grinding Mill</b></h3></a>
                        <p class="eq-p1">
                            20-425mesh（0.84-0.033mm）<br>
                            Production capacity :10-300t/h
                        </p>
                        <p class="eq-p2">
                            <b>Advantages:</b><br>
                            Low operating costs, stable and reliable;<br>
                            The use of gas transport materials, drying capacity;<br>
                            Product quality and stability, uniform particle size;<br>
                            Maintenance between, energy saving and environmental protection.
                        </p>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="xl12 xb6 eq">
                    <div class="xl12 xs6 xm6">
                        <a href="/v3/Grinding-Mill/Micro-Powder-Mill.html"><img src="/special/tsg/p3.png" class="img-responsive"></a>
                    </div>
                    <div class="xl12 xs6 xm6">
                        <a href="/v3/Grinding-Mill/Micro-Powder-Mill.html"><h3 class="eq-h3 eq-mb"><b>Micro Powder Mill</b></h3></a>
                        <p class="eq-p1 eq3-p1">
                            325-3250mesh（45-3μm）<br>
                        </p>
                        <p class="eq-p2">
                            <b>Advantages:</b><br>
                            Low investment costs, low loss of wearing parts;<br>
                            High rate of powder, high cost fineness;<br>
                            Grinding chamber operation safe and reliable;<br>
                            Using pulse dust collector, environmental pollution.
                        </p>
                    </div>
                </div>
                <div class="xl12 xb6 eq">
                    <div class="xl12 xs6 xm6">
                         <img src="/special/tsg/p4.png" class="img-responsive eq-img4">
                    </div>
                    <div class="xl12 xs6 xm6">
                         <h3 class="eq-h3"><b>LUM-Series Ultra Fine Vertical Grinding Mill</b></h3>
                        <p class="eq-p1">
                            400-2500mesh（38-5μm）<br>
                            Production capacity :5-18t/h
                        </p>
                        <p class="eq-p2">
                            <b>Advantages:</b><br>
                            Material layer grinding, high product quality;<br>
                            Host speed using frequency control, for a wide range;<br>
                            Roller liner with high quality materials, long life and long wear;<br>
                            Fully automatic control, easy to operate.
                        </p>
                    </div>
                </div>
            </div>   
        </div>
        <!--  equipment结束-->
        <!-- Environmental Advantages -->
        <div class="container">
            <h2 class="app-h2 text-center">Environmental Advantages</h2>
            <div class="line-big">
                <div class="xl12 xm6 ea-l">
                    <img src="/special/tsg/ea.png" class="img-responsive">
                </div>
                <div class="xl12 xm6 ea-r">
                    <p>
                        1. The system is totally sealed and fully operated under negative pressure, and basically no dust spills can be realized.
                    </p>
                    <p>
                        2. The system equipment is small, the structure is simple, only 50% of the ball mill, and can be arranged in the open air,
                        greatly reducing the floor space and construction costs, capital return quickly;
                    </p>
                    <p>
                        3. The use of pulse dust collection system for efficient dust collection, the efficiency of up to 99%, effectively prevent 
                        long-term powder backlog, is one of the well-developed equipment that kefid complies with market demand;
                    </p>
                    <p>
                        4. Compared with the ball mill, the energy consumption is low 40%-50%; and the whole system has little vibration and low noise. 
                        The roller limit device is adopted to effectively avoid severe vibration and the performance is more reliable.
                    </p>
                </div>
            </div>
        </div>
        <!-- Environmental Advantages结束 -->
        <!-- Technical Support -->
        <div class="bg2">
            <div class="container ea text-center">
                <img src="/special/tsg/ts2.png">
                <h3>Technical Support</h3>
                <p>
                    From on-site inspections to program planning, from technical training to installation and commissioning, whether it is an entire
                    production line or insignificant gear that exceeds $10 million, no matter where you are, just a phone call or an e-mail, we will
                    be the shortest time feedback or on-site guidance.
                </p>
            </div>
        </div>
        <!-- Technical Support结束 -->
        <!-- Product Service-->
        <div class="container">
            <h2 class="app-h2 text-center">Product Service</h2>
            <div class="line-big mb-f">
                <div class="xl12 xs4">
                    <div class="ps-hid">
                        <img src="/special/tsg/ps1.jpg" class="img-res">
                        <div class="hid1">
                            <p>
                                <span> Accessories Center</span><br>
                                Original spare parts is the heart of crushing & screening plant. Kefid supplies quality original parts.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="xl12 xs4">
                    <div class="ps-hid">
                        <img src="/special/tsg/ps2.jpg" class="img-res">
                        <div class="hid2">
                            <p>
                                <span> Delivery Inspection</span><br>
                                Strictly detect by man and machine before the products leaving the factory.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="xl12 xs4">
                    <div class="ps-hid">
                        <img src="/special/tsg/ps3.jpg" class="img-res">
                        <div class="hid3">
                            <p>
                                <span> Maintenance and Repair</span><br>
                                Kefid provides customers comprehensive knowledge of maintenance and repair technique.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Service-->
        <div class="clearfix"></div>
        <!-- 表单 -->
        {dede:include filename="form.html"/}
    </article>
    <div class="clearfix"></div>
	 {dede:include filename="k_footer.html"/}
    <script src="/js/jquery.js"></script>
    <script src="/js/pintuer.js"></script>
    <script>
        var isNotEmpty=function(strVal){if(strVal==''||strVal==null||strVal==undefined){return false}else{return true}};
        var res_img = $("img.res");
        var img_src = isNotEmpty(res_img.attr("data-xb")) ? res_img.attr("data-xb") : isNotEmpty(res_img.attr("data-xm")) ? res_img.attr("data-xm") : isNotEmpty(res_img.attr("data-xs")) ? res_img.attr("data-xs") : isNotEmpty(res_img.attr("data-xm")) ? res_img.attr("data-xm") : "";
        var w_width = $(window).width();
        if (w_width < 1200 && w_width > 999 && isNotEmpty(res_img.attr("data-xm"))) {
            img_src = res_img.attr("data-xm")
        }
        if (w_width < 1000 && w_width > 759 && isNotEmpty(res_img.attr("data-xs"))) {
            img_src = res_img.attr("data-xs")
        }
        if (w_width < 760 && isNotEmpty(res_img.attr("data-xl"))) {
            img_src = res_img.attr("data-xl")
        }
        if (isNotEmpty(img_src)) {
            res_img.attr('src', img_src)
        }
    </script>
</body>

</html>