<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{dede:field.title /} - Kefid Shanghai VU</title>
    <meta name="keywords" content="{dede:field.keywords /}" />
    <meta name="description" content="{dede:field.description /}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <link rel="stylesheet" type="text/css" href="/special/vu/pintuerx.css">
    <link rel="stylesheet" type="text/css" href="/css/font.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/about.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/p-contact.css">
    <link rel="stylesheet" type="text/css" href="/special/vu/vuhh.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/pintuer.js"></script>
    <script src="/js/footer.js"></script>
</head>

<body>
    <section class="container">
        <div class="head_top">
            <a href="/"><img src="/img/public/kefid.png"></a>
            <span class="head_right">
                <div><a href="/v3/contact.html">Contact us</a> | <a href="/Case/">Cases</a> | <a href="/v3/products.html">Products</a> | <a href="/solutions/">Solutions</a></div>
            </span>
        </div>
    </section>
    <div class="banner">
       <img class="res img-res" data-xl="/special/vu/banner2.jpg" data-xs="" data-xm="/special/vu/banner.jpg" alt="">
    </div>
    <article>
        <div class="container">
            <div class="line-big">
                <div class="xl12 xm6 oppor1">
                    <div class="oppor1-hl1 oppor1-1">
                        <h1>Opportunities</h1>
                        <p>1、Infrastructure construction tide keeps surging and the demand for aggregate is brisk.</p>
                        <p>2、The price of sand and stone is in a state of rising and fluctuating, and the prospect is broad.</p>
                        <p>3、There is a large supply gap in some areas, so the sand aggregate faces a huge investment opportunity.</p>
                    </div>
                </div>
                <div class="xl12 xm6 oppor1">
                    <div class="oppor1-hl1 oppor1-2">
                        <h1>Challenges</h1>
                        <p>1、The decline of natural sand reserves led to the government's policy of limiting mining, which could not make aggregate supplied continuously.</p>
                        <p>2、The quality of mixture consisting of nature sand and concrete is decreased because the quality of nature sand is decreased, so that the construction quality is also influenced.</p>
                        <p>3、The regional distribution is uneven, and the cost of raw material collection is high. </p>
                        <p>4、Traditional sand making uses cheap jaw crusher to produce. It takes disadvantages of simple crushing, single screening and unstable quality. </p>
                    </div>
                </div>
            </div>
        </div> <div class="clearfix"></div>
        <div class="container-layout oppor2">
            <div class="container">
                <div class="xl2 xm1"><img src="/special/vu/yh.jpg" class="img-res"></div>
                <div class="text-center" class="xl10 xm11 oppor2-2">
                Based on Japan's special design and advanced international technology,  Kefid developed an integrated sand making system --VU aggregate optimization system. With the integration technology of breaking, grinding and sand selecting, VU aggregate optimization system can produce machine-made sand comparable to natural sand, which can well meet the demand of construction market.
                </div>
            </div>
        </div>
        <div class="container">
            <h1 class="text-center oppor3-h1"><b>Structure</b></h1>
            <h2 class="text-center oppor3-h2"><span>Quality and Efficiency</span></h2>
            <ul class="line-big mt list-unstyle">
                <li class="xm3 margin-large-bottom"><img src="/special/vu/vu1.jpg" class="img-responsive"><p class="r3-zi">VU series vertical shaft impact <span class="oppo-sp1">crusher</span></p></li>
                <div class="eq_p xm6 margin-large-bottom">
                    <div class="js-zi"><p class="text-center">VU series vertical shaft impact crusher</p>The new type of 5 holes rotor improves collision frequency and crushing efficiency.<br>The comprehensive grinding effect is formed because of increased grinding block, which makes the product uniform in texture. </div>
                    <div class="js-zi"><p class="text-center">VU module control screen</p>Integrated screening facilities improve production efficiency greatly.It is adjustable and controllable that makes the product fineness uniform, gradation reasonable and quality reliable.</div>
                    <div class="js-zi js-zi3"><p class="text-center">VU shape optimizer</p>he materials are crushed along the stress concentration point at low velocity impact, so that the crushing effect is good.(Material's burr is brushed away because of water-fall spiral movement,which makes the finished products well-distributed.)</div>
                    <div class="js-zi js-zi5"><p class="text-center">Central control system </p>1、Negative pressure device collects powder. It is efficient, convenient and clean.<br>2、The ores can be used more efficiently because it is dry and clean.</div>
                     <div class="js-zi js-zi4"><p class="text-center">VU humidifying agitator</p>1、Automatic water adding device ensures the moisture content of the finished sand is stable and the composition is even.<br>2、The operation is simple and the labor cost is saved</div>
                    <div class="js-zi js-zi4"><p class="text-center">Central control system </p>Intelligent control device makes the operation simple and accurate.Real time monitoring and timely handling of operation problems can improve the service life of equipment.</div>
                </div>
                <li class="xm3 margin-large-bottom"><img src="/special/vu/vu2.jpg" class="img-responsive"><p class="r3-zi">VU module control screen</p></li>
                <li class="xm3"><img src="/special/vu/vu3.jpg" class="img-responsive"><p class="r3-zi">VU module control screen</p></li>
                <li class="xm3"><img src="/special/vu/vu4.jpg" class="img-responsive"><p class="r3-zi">Central control system</p></li>
                <li class="xm3"><img src="/special/vu/vu5.jpg" class="img-responsive"><p class="r3-zi">VU humidifying agitator</p></li>
                <li class="xm3"><img src="/special/vu/vu6.jpg" class="img-responsive"><p class="r3-zi">Central control system</p></li>
            </ul>
            <div class="ree-small">
                <div class="sm-mb line-big">
                    <div class="xl12 xs5"><img src="/special/vu/vu1.jpg" class="img-res"><p class="r3-zi">VU series vertical shaft impact crusher</p></div>
                    <div class="xl12 xs7 ">
                        <div class="ree-zi">
                            <p class="text-center">VU series vertical shaft impact crusher</p>The new type of 5 holes rotor improves collision frequency and crushing efficiency.<br>The comprehensive grinding effect is formed because of increased grinding block, which makes the product uniform in texture. 
                        </div>
                    </div>
                </div><div class="clear"></div>
                <div class="sm-mb line-big">
                    <div class="xl12 xs5"><img src="/special/vu/vu2.jpg" class="img-res"><p class="r3-zi">VU module control screen</p></div>
                    <div class="xl12 xs7">
                        <div class="ree-zi">
                            <p class="text-center">VU module control screen</p>Integrated screening facilities improve production efficiency greatly.It is adjustable and controllable that makes the product fineness uniform, gradation reasonable and quality reliable.
                        </div>
                    </div>
                </div><div class="clear"></div>
                <div class="sm-mb line-big">
                    <div class="xl12 xs5"><img src="/special/vu/vu3.jpg" class="img-res"><p class="r3-zi">VU shape optimizer</p></div>
                    <div class="xl12 xs7">
                        <div class="ree-zi">
                            <p class="text-center">VU shape optimizer</p>he materials are crushed along the stress concentration point at low velocity impact, so that the crushing effect is good.(Material's burr is brushed away because of water-fall spiral movement,which makes the finished products well-distributed.)
                        </div>
                    </div>
                </div><div class="clear"></div>
                <div class="sm-mb line-big">
                    <div class="xl12 xs5"><img src="/special/vu/vu4.jpg" class="img-res"><p class="r3-zi">Central control system</p></div>
                    <div class="xl12 xs7">
                        <div class="ree-zi">
                            <p class="text-center">Central control system </p>1、Negative pressure device collects powder. It is efficient, convenient and clean.<br>2、The ores can be used more efficiently because it is dry and clean.
                        </div>
                    </div>
                </div><div class="clear"></div>
                <div class="sm-mb line-big">
                    <div class="xl12 xs5"><img src="/special/vu/vu5.jpg" class="img-res"><p class="r3-zi">VU humidifying agitator</p></div>
                    <div class="xl12 xs7">
                        <div class="ree-zi">
                            <p class="text-center">VU humidifying agitator</p>1、Automatic water adding device ensures the moisture content of the finished sand is stable and the composition is even.<br>2、The operation is simple and the labor cost is saved
                        </div>
                    </div>
                </div><div class="clear"></div>
                <div class="sm-mb line-big">
                    <div class="xl12 xs5"><img src="/special/vu/vu6.jpg" class="img-res"><p class="r3-zi">VU humidifying agitator</p></div>
                    <div class="xl12 xs7">
                        <div class="ree-zi">
                            <p class="text-center">VU humidifying agitator</p>Intelligent control device makes the operation simple and accurate.Real time monitoring and timely handling of operation problems can improve the service life of equipment.
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="line-big">
                <div class="xl12 xm6 oppor5-mb">
                    <h1 class="oppor5-h1">Performance advantage</h1>
                    <p>1、tower design, compact layout, efficient operation.</p>
                    <p>2、It reproduces the natural crushing, erosion friction and natural washing process in the formation of natural sand to a great extent, so as to improve the performance of finished sand greatly. </p>
                    <p>3、It uses gravel, cheap tailing, waste sand as raw materials and reduce the cost greatly.</p>
                    <p>4、There is an intelligent control system which can save manpower and material resources because it is easy to operate.</p>
                    <p>5、There is no dust, sewage and sludge in the sand making process, and the cost of environmental protection is low.</p>
                </div>
                <div class="xl12 xm6 oppor5-mb">
                    <h1 class="oppor5-h1">Specifications</h1>
                    <img src="/special/vu/biaog.jpg" class="img-res">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- 表单 -->
     {dede:include filename="form.html"/}
    </article>
    <div class="clearfix"></div>
   {dede:include filename="k_footer.html"/} 
    <script>
var isNotEmpty=function(strVal){if(strVal==''||strVal==null||strVal==undefined){return false}else{return true}};
var res_img = $("img.res");
var img_src = isNotEmpty(res_img.attr("data-xb")) ? res_img.attr("data-xb") : isNotEmpty(res_img.attr("data-xm")) ? res_img.attr("data-xm") : isNotEmpty(res_img.attr("data-xs")) ? res_img.attr("data-xs") : isNotEmpty(res_img.attr("data-xm")) ? res_img.attr("data-xm") : "";
var w_width = $(window).width();
if (w_width < 1200 && w_width > 999 && isNotEmpty(res_img.attr("data-xm"))) {
    img_src = res_img.attr("data-xm")
}
if (w_width < 1000 && w_width > 759 && isNotEmpty(res_img.attr("data-xs"))) {
    img_src = res_img.attr("data-xs")
}
if (w_width < 760 && isNotEmpty(res_img.attr("data-xl"))) {
    img_src = res_img.attr("data-xl")
}
if (isNotEmpty(img_src)) {
    res_img.attr('src', img_src)
}
</script>
<script type="text/javascript">
            var mt = document.getElementsByClassName("mt")[0].getElementsByTagName("li");
            var eq_p = document.getElementsByClassName("eq_p")[0].children;
            eq_p[0].style.display = "block";
            for (var i = 0;i < mt.length; i++) {
                mt[i].index = i;
                mt[i].onmouseover = function(){
                    for (var j = 0;j < eq_p.length; j++) {
                        eq_p[j].style.display = "none";
                    };
                    eq_p[this.index].style.display = "block"
                }
            };
</script>
</body>

</html>