<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="renderer" content="webkit">
        <meta content="telephone=no" name="format-detection">
        <meta content="email=no" name="format-detection">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <link rel="stylesheet" href="/special/No.53/css/style.css">
        <link rel="stylesheet" href="/special/No.53/css/weekly53.css">
        <script type="text/javascript" src="/special/No.53/js/jquery.js"></script>
    </head>
    <body>
        <div class="banner">
            <img src="/special/No.53/img/banner.jpg" class="ban1">
            <img src="/special/No.53/img/banner_s.jpg" class="ban2">
        </div>
        <article class="container">
            <section class="line-big sec1">
                <div class="xl12 xs3 xm2 daodu"><img src="/special/No.53/img/daodu.jpg" ></div>
                <span class="xl12 xs9 xm10">经过多年的辛勤探索，黎明重工科技股份有限公司建立了一套完备有效的服务体系，打造了一支经验丰富的服务团队，不仅为客户免费规划场地、设计安装基础图和流程图、提供专业的技术培训，而且派专业技术人员现场指导安装和调试设备。公司服务网点遍布贵州、四川、广西、湖南、广东、山东、山西等32座城市，建立客户使用档案，使传统上门服务与网络在线服务双管齐下，优势互补，贴心高效， 赢得了客户的广泛赞誉。</span>
            </section>
            <section class="line-big sec2">
                <div class="service xl12 xs12">售前</div>
                <div class="xs4">
                    <div><img src="/special/No.53/img/wechat.jpg" class="img-responsive"></div>
                    <div><h3>如果您有咨询需求</h3><p>我们24小时守候，随时给予您详细而专业的解答，解决您的心头疑惑</p></div>
                </div>
                <div class="xs4">
                    <div><img src="/special/No.53/img/diss.jpg" class="img-responsive"></div>
                    <div><h3>如若您有合作意向</h3><p>我们将根据您的需要，推荐相匹配的产品型号和生产线配置</p></div>
                </div>
                <div class="xs4">
                    <div><img src="/special/No.53/img/teach.jpg" class="img-responsive"></div>
                    <div><h3>如果您有特殊需要</h3><p>我们免费到现场勘查，量身定制解决方案，并提供定制化产品设计</p></div>
                </div>
            </section>
            <section class="line sec3">
                <div class="xm4">
                    <div class="ser1"><h4>专车接送</h4>
                         <p class="spe">我们提供贴心的接送服务，豪华的商务车队，高端大气，为您的到来保驾护航，而您需要做的就是一一提前联系我们。
                        </p>
                    </div>
                    <div><img src="/special/No.53/img/1.jpg" class="img-responsive img-max"></div>
                </div>
                <div class="xm4">
                    <div><img src="/special/No.53/img/2.jpg" class="img-responsive img-max"></div>
                    <div class="ser1"><h4>厂区参观</h4>
                         <p>带您进入黎明重工的各个生产厂区，让您亲自看到零件的制作组装，倾听金属撞击的强有力的声音。
                        </p>
                    </div>
                    
                </div>
                <div class="xm4">
                    <div class="ser1"><h4>食宿接待</h4>
                         <p class="spe">公司拥有高端的商务餐厅和精品的商务套房，为每一位来到公司的客户提供舒适的食宿享受。
                        </p>
                    </div>
                    <div><img src="/special/No.53/img/3.jpg" class="img-responsive img-max"></div>
                </div>
            </section>
            <section class="line-big sec4">
                <div class="service xl12 xs12">售中</div>
                <div class="clearfix">
                    <div class="xm6"><img src="/special/No.53/img/4.jpg" class="img-responsive img-max"></div>
                    <div class="xm6"><h5><span>&lt;</span> 系统化解决方案</h5><p>黎明重工在建筑破碎、矿山破碎、工业制粉、绿色建材等四个产品模块均具有专属事业部。我们拥有经验丰富的技术专家，悉心为您解读设备参数、工艺等各类指标，做出全面细致的经济效益分析，助您实现可持续的增值发展；我们拥有严谨专业的项目规划师，专心为您进行建设项目的基本分析，并做出全面细致的项目规划方案；此外，技术团队将对项目进行实地勘测，将场地因素纳入规划，从多渠道多方面为您提供全面可行的系统化项目解决方案。</p></div>
                </div>
                <div class="clearfix">
                    <div class="xm6 r"><h5>科学化包装输送 <span>&gt;</span></h5><p>黎明重工提供多样化、专业化包装运输方式。秉承着每一个细节做到极致的诉求，我们采用防水、防潮、防尘、防锈的包装工艺，轻重搭配、合理节约的绑扎方式，从订单核实到统筹分配，从输送监控再到安全调离的分拣输送，站在全方位角度提供科学化的包装输送，让您的货物安全抵达目的地。</p></div>
                    <div class="xm6"><img src="/special/No.53/img/5.jpg" class="img-responsive img-max"></div>
                </div>
                <div class="clearfix">
                    <div class="xm6"><img src="/special/No.53/img/6.jpg" class="img-responsive img-max"></div>
                    <div class="xm6"><h5><span>&lt;</span> 专业化安装团队</h5><p>我们拥有分属四大领域的安装工程师，为您解决各类技术问题。建筑安装工程师、移动站安装工程师、工业制粉安装工程师、矿山安装工程师，具有万条生产线安装调试经验的安装工程师时刻为您待发。他们不仅对设备预置工作进行专业指导，并将全程跟进设备的安装调试工作。</p></div>
                </div>
            </section>
            <section class="line sec5">
                <div class="service xl12 xs12">售后</div>
                <h5>贴心化的技术支持</h5>
                <p>黎明重工为客户提供具有特色的标准化售后服务工作。基础地基预制工作与安装调试的完成并不意味着服务的终结，实际上，售后工作的又一环节将全新开启。</p>
                <div class="xm4 clearfix">
                    <div class="xs2 xm3"><img src="/special/No.53/img/sup.jpg" class="img-responsive"></div>
                    <div class="xs10 xm8"><span>保修期内的免费技术培训与维修服务</span></div>
                </div>
                <div class="xm4 clearfix">
                    <div class="xs2 xm3"><img src="/special/No.53/img/inf.jpg" class="img-responsive"></div>
                    <div class="xs10 xm8"><span>提供产品技术改进方案和新的产品信息</span></div>
                </div>
                <div class="xm4 clearfix">
                    <div class="xs2 xm3"><img src="/special/No.53/img/act.jpg" class="img-responsive"></div>
                    <div class="xs10 xm8"><span>每年开展质量万里行活动，针对重点客户回访情况及时解决设备维护及配件更换等问题</span></div>
                </div>
                <img src="/special/No.53/img/policy.jpg" class="img-responsive img-max policy">
                <div class="policy1">
                    <h5>全面系统的服务政策</h5>
                    <p><img src="/special/No.53/img/policy1.jpg" class="img-responsive img-max"></p>
                    <p><b>2小时内</b>给予明确的解决方案</p>
                    <p><b>24小时内</b>赶至客户现场处理</p>
                    <p><b>36小时内</b>彻底解决产品故障，零延时快速解决问题</p>
                    <p>我们时刻践行规范化、价值化、系列化、差异化的服务理念，以客户为导向，以质量为重心，为您量身打造极具价值的产品与服务。</p>
                </div>
            </section>
        </article>
        <article class="cus">
                <div class="container">
                    <section class="line-big sec6">
                        <div class="xs2"><img src="/special/No.53/img/lmzg.jpg" class="img-responsive"></div>
                        <div class="xs10">黎明重工始终坚持<b>"以客户为导向"</b>，为客户提供整体全面的服务；<b>"以服务为核心"</b>，为客户量身打造令人满意的产品；<b>"以质量为重心"</b>，全方位服务于客户！<br/>黎明重工科技股份有限公司自成立以来，三十年如一日，始终坚守服务承诺，坚持科技创新，坚定诚信经营，对每一个客户都做到慎始敬终。黎明重工，我们以微笑相待，真诚期待与您的合作。</div>
                    </section>
                </div>
                </article>
                <article class="foot">
                <div class="container">
            <section class="line-big sec7">
                <div class="xm4">
                    <h6>黎明周报编辑部</h6>
                    <p>三十载风雨路，感恩陪伴！未来，我们邀您  共享/继续见证  黎明重工发展中的点点滴滴...<br/><br/></p>
                    <p>出品：2017年08月07日</p>
                </div>
                <div class="xm4 co clearfix">
                    <div class="xl4 xs4">
                        <img src="/special/No.53/img/ch.jpg" class="img-responsive">
                        <span>周报策划</span>
                        <span>梦游娃</span>
                    </div>
                    <div class="xl4 xs4">
                        <img src="/special/No.53/img/js.jpg" class="img-responsive">
                        <span>品牌技术</span>
                        <span>ss</span>
                    </div>
                    <div class="xl4 xs4">
                        <img src="/special/No.53/img/sj.jpg" class="img-responsive">
                        <span>视觉设计</span>
                        <span>Yan</span>
                    </div>
                </div>
                <div class="xm4"><img src="/special/No.53/img/thumb.jpg" height="199" width="301" class="img-responsive"></div>
            </section>
            </div>
        </article>
    </body>
    </html>