<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact - Kefid Shanghai Machinery</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta content="telephone=no" name="format-detection">
	<meta content="email=no" name="format-detection">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<link rel="stylesheet" href="/css/pintuer.css">
	<link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/contact.css">
	<script src="/js/jquery.js"></script>
	<script src="/js/pintuer.js"></script>
	<script src="/js/respond.js"></script>
	<script src="/js/contact.js"></script>
	 
	<!-- <link rel="prefetch" href="预加载的图片" /> -->
</head>
<body id="co">
	{include file="/common/_header_about" /}
	<div class="nb-d ">
		<div class="container">
			<p><a href="/">Home</a>> <a href="/v3/contact/contact.html">Contact</a></p>
		</div>
	</div>
	<article class="container">
		<h1 class="border-bottom contact_h1"><b>Contact Us & Feedback</b></h1>
		<h2 class="border-bottom contact_h1  contact_h2"><b>Contact Us & Feedback</b></h2>
		<div class="line-big contact_mar">
			<section class="xs6 ">
				<h4 class="border-bottom contact_h4"><b>ShangHai,China</b></h4>
				
				<div class="contact_a1">
					<p>Our office address in Shanghai: No 201 Huaxiasanlu Road, Pudong New Dictrict, Shanghai, China.</p>
				</div>
				<div class="contact_first">
					<i class="icon icon-envelope float-left contact_i-f" aria-hidden="true"></i>
					<div class="nav E-m1 float-left">
						<b>Email</b>
						<a href="mailto:kefidsh@kefidgroup.com/">kefidsh@kefidgroup.com</a>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="contact_second">
					<i class="icon icon-mobile-phone (alias) float-left contact_i-s" aria-hidden="true"></i>
					<div class="nav E-m2 float-left">
						<b>Tel</b>
						<p>+86-21-50471909</p>
						<p>+86-21-50591026</p>
						<p>+86-21-50458961</p>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="contact_third">
					<i class="icon icon-skype float-left contact_i-t" aria-hidden="true"></i>
					<div class="nav E-m3 float-left">
						<b>Skype</b>
						<p><a href="callto://kefidcrusher/">kefidcrusher</a></p>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="contact_fourth">
					<i class="icon icon-wechat (alias) float-left contact_i-fo" aria-hidden="true"></i>
					<div class="nav E-m4 float-left">
						<p>KFD_onlineservice</p>
					</div>
				</div>
				<div class="clearfix"></div>
				<h4 class="border-bottom contact_h4"><b>Indonesia</b></h4>
				<p class="contact_indo contact_p1">Our address in Jakarta: Kompleks Roxy Mas, Blok D5/No. 20 JL. K.H. Hasyim</p> 
				<p class="contact_indo">Ashari, Jakarta Pusat INDONESIA</p>
				<p class="contact_indo">ATTN : Mr. CHRIS LIU</p>
			</section>
			<section class="xs6">
				<div class="contact_s2">
					<p>Contact us now if you have any question about our company and products. Any of your enquiry and suggestion will be highly appreciated.</p>
				</div>
				<div class="contact_form line">
					<form method="post" action="//data.kefid.com/Actionsh.php" name="msgForm" onsubmit="return check()" class="co_form">
						<div class="form-group">
							<div class="label xm2 contact_pro">
								<label class="contact_float"><span style="color: red">*</span>Products:</label>
							</div>

							<div class="field xm10">
								<!-- <input type="text" class="input radius-none"/> -->
								<select class="input radius-none" name="product" id="product">
						          <option>Select  Equipment</option>
						          <option value="Mobile Crusher">Mobile Crusher</option>
						          <option value="Jaw Crusher">Jaw Crusher</option>
						          <option value="Cone Crusher">Cone Crusher</option>
						          <option value="Impact Crusher">Impact Crusher</option>
						          <option value="Grinding Mill ">Grinding Mill </option>
						          <option value="Sand Making Machine">Sand Making Machine</option>
						          <option value="Sand Washing Machine">Sand Washing Machine</option>
						          <option value="Production Line">Production Line</option>
						          <option value="Vibrating Screen">Vibrating Screen</option>
						          <option value="Feeder">Feeder</option>
								</select>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<div class="label xm2">
								<label class="contact_float"><span style="color: red">*</span>Materials:</label>
							</div>
							<div class="contact_fl"></div>
							<div class="field xm10">
							<ul class="contact_mat line">
								<select class="input radius-none" name="mType" id="mType">
									<option value="">Select Materials</option>
									<option vlaue="Basalt">Basalt</option>
									<option vlaue="Barite">Barite</option>
									<option vlaue="Calcite">Calcite</option>
									<option vlaue="Coal">Coal</option>
									<option vlaue="Dolomite">Dolomite</option>
									<option vlaue="Feldspar">Feldspar</option>
									<option vlaue="Gypsum">Gypsum</option>
									<option vlaue="Granite">Granite</option>
									<option vlaue="Limestone">Limestone</option>
									<option vlaue="Quartz">Quartz</option>
									<option vlaue="Pebble">Pebble</option>
									<option vlaue="Slag">Slag</option>
									<option vlaue="Metallic ores">Metallic ores</option>
								</select>
							</ul>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<div class="label xm2">
								<label class="contact_c contact_float"><span style="color: red">*</span>Capacity:</label>
							</div>
						<div class="contact_fl"></div>
							<div class="field xm10">
								<ul class="contact_cap">
										<li><label><input name="mCap" value="> 650T/H" type="radio" class="form_change"/>>650T/H</label></li>
										<li><label><input name="mCap" value="450-649T/H" type="radio" class="form_change"/>450-649T/H</label></li>
										<li><label><input name="mCap" value="400-449T/H" type="radio" class="form_change"/>400-449T/H</label></li>
										<li><label><input name="mCap" value="300-399T/H" type="radio" class="form_change"/>300-399T/H</label></li>
									
									
										<li><label><input name="mCap" value="200-299T/H" type="radio" class="form_change"/>200-299T/H</label></li>
										<li><label><input name="mCap" value="120-199T/H" type="radio" class="form_change"/>120-199T/H</label></li>
										<li><label><input name="mCap" value="80-119T/H" type="radio" class="form_change"/>80-119T/H</label></li>
										<li><label><input name="mCap" value="50-79T/H" type="radio" class="form_change"/>50-79T/H</label></li>
									
									
										<li><label><input name="mCap" value="30-49T/H" type="radio" class="form_change"/>30-49T/H</label></li>
										<li><label><input name="mCap" value="<30T/H" type="radio" class="form_change"/><30T/H</label></li>
								</ul>
							</div>							
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<div class="label xm2 ">
								<label class="contact_float contact_n"><span style="color: red">*</span>Name:</label>
							</div>
							<div class="field xm10">
								<input type="text" name="userName" class="input radius-none"/>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<div class="label xm2 ">
								<label class="contact_float contact_n"><span style="color: red">*</span>E-Mail:</label>
							</div>
							<div class="field xm10">
								<input type="text" name="userEMail" class="input radius-none"/>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<div class="label xm2 ">
								<label class="contact_float contact_n">Country:</label>
							</div>
							<div class="field xm10">
								<input type="text" name="uCountry" class="input radius-none"/>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<div class="label xm2 ">
								<label class="contact_float contact_n">Tel:</label>
							</div>
							<div class="field xm10">
								<input type="text" name="userTel" class="input radius-none"/>
							</div>
						

						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<div class="label xm2 ">
								<label class="contact_float contact_n"><span style="color: red">*</span>Message:</label>
							</div>
							<div class="field xm10">
								<textarea rows="4" name="Message" class="input radius-none" placeholder="Please enter your demand such as: Output size 0-10, 10-15, 15-20mm for Crushing or 75 microns (200mesh) for Grinding and other requirements."></textarea>
							</div>
						</div>
						<div id="con_but"><button onclick="this.form.submit">Submit</button></div>

						<div class="form-group contact_subm">
							<div class="label xl2 xs2 xm2 xb2">
								<label class=""> </label>
							</div>
							<div class="contact_a11"></div>
							<div class="field xl3 xs4 xm7 xb7">
								<button class="button contact_sub radius-none"><b>Submit</b></button>
							</div>
							
						</div>
					</form>
				</div>
			</section>
		</div>
	</article>
{include file="/common/_k_footer" /}
			
</body>
</html>
