
<footer class="container-layout footer">
		<section class="container">
			<ul class="line-big about_footer">
				<li class="xb2 xm2 xs4 xl6">
					<ul class="about_footer_l">
						<li><a href="/v3/products.html"> Products</a></li>
						<li><a href="/v3/Mobile-Crusher/"><img src="/img/about/about_s.png"> Mobile Crushers</a></li>
						<li><a href="/v3/Crushing-Plant/"><img src="/img/about/about_s.png">&nbsp;Stationary Crushers</a></li>
						<li><a href="/v3/Grinding-Mill/"><img src="/img/about/about_s.png">&nbsp;Grinding Mill</a></li>
						<li><a href="/v3/Screening-Washing/"><img src="/img/about/about_s.png">&nbsp;Washing & Screening</a></li>
						<li><a href="/v3/Aggregate-Production-Line/"><img src="/img/about/about_s.png">&nbsp;Aggregate Production</a></li>
					</ul>
				</li>
				<li class="xb2 xm2 xs4 xl6">
					<ul class="about_footer_l">
						<li><a href="/Case/">Case</a></li>
						<li><a href="/Case/Asia/"><img src="/img/about/about_s.png">&nbsp;Asia</a></li>
						<li><a href="/Case/Europe/"><img src="/img/about/about_s.png">&nbsp;Europe</a></li>
						<li><a href="/Case/Africa/"><img src="/img/about/about_s.png">&nbsp;Africa</a></li>
						<li><a href="/Case/NorthAmerica/"><img src="/img/about/about_s.png">&nbsp;North America</a></li>
						<li><a href="/Case/LatinAmerica/"><img src="/img/about/about_s.png">&nbsp;Latin America</a></li>
						<li><a href="/Case/Oceania/"><img src="/img/about/about_s.png">&nbsp;Oceania</a></li>
					</ul>
				</li>
				<li class="xb2 xm3 xs4 xl6">
					<ul class="about_footer_l">
						<li><a href="/solutions/">Solution</a></li>
						<li class="text-unbreak"> <a href="/solutions/calcite-processing-line.html"><img src="/img/about/about_s.png">&nbsp;Calcite Processing Line</a></li>
						<li class="text-unbreak"><a href="/solutions/copper-ore-beneficiation-line.html"><img src="/img/about/about_s.png">&nbsp;Copper Ore Beneficition Line</a></li>
						<li class="text-unbreak"><a href="/solutions/dolomite-processing-line.html"><img src="/img/about/about_s.png">&nbsp;Dolomite Processing Line</a></li>
						<li class="text-unbreak"><a href="/solutions/artificial-sand-making.html"><img src="/img/about/about_s.png">&nbsp;Artificial Sand Making </a></li>
					
					</ul>
				</li>
				
				<li class="xb3  xm3 xs6 xl6">
					<ul class="about_footer_l about_footer_icon">
						<li><a href="/v3/contact.html">Contact</a></li>
					<li>
						<img src="/img/about/about_tel.png"> &nbsp;
							<span class="tel_f">+86-21-50471909/50591026<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/50458961</span>
						</li>
						<li>
							<a href="mailto:kefidsh@kefidgroup.com">
								<img src="/img/about/about_mail.png"> &nbsp;				
							kefidsh@kefidgroup.com
							</a>		
							
						</li>
						<li>
							<img src="/img/about/about_p.png"> &nbsp;
							Zip Code : 201299
						</li>
						<li><img src="/img/about/about_weixin.png"> &nbsp;KFD_onlineservice</li>
						<li>
							<a href="callto://kefidcrusher">
								<img src="/img/about/about_ss.png"> &nbsp;kefidcrusher
							</a>
						</li>
					</ul>
				</li>
				<li class="xb2 xm2 xs6  xl6 xb1-move">
					<ul class="about_footer_l">
						<li class="text-center"><a href=""><img src="/img/about/erweima.jpg"></a></li>
						<li class="text-center"><a href=""></a>KFD_onlineservice </li>	
					</ul>
				</li>

			</ul>
		</section>
	
	</footer>
	<div class="footer_b">
		<div class="container">
			<div class="float-left footer_b_l">
			Tel:+86-21-50471909/50591026/50458961(24 	hours)  Google+
		</div>
		<div class=" footer_b_r">
			Copyright &copy 2009-2018 Kefid Machinery, All rights reserved.
		</div>
		</div>
		
	</div>
	 <!-- <script language="javascript" src="//drt.zoosnet.net/JS/LsJS.aspx?siteid=DRT53284414&float=1&lng=en"></script> -->
	<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19791416-1']);
  _gaq.push(['_setDomainName', 'kefidchina.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : '//www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-19791416-8', 'kefidchina.com');
  ga('send', 'pageview');


</script>


<!-- Google 再营销代码 -->
<!-- Google Code for Crushers -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 993351310;
var google_conversion_label = "5raECIr5xQMQjq3V2QM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/993351310/?value=0&amp;label=5raECIr5xQMQjq3V2QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

