
<div class="en-message">
    <h3>Get price and support, find the working site in your country!</h3>
    <form action="//data.kefid.com/Actionsh.php" method="post" onsubmit="return chkInquiry()" id="msgForm" name="msgForm" >
    <input type="hidden" id="pWin" name="pWin" value="">
    <input type="hidden" name="Act" value="Inquiry">
    <input type="hidden" name="iLang" value="en">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="td-w80 td-h46">Products : </td>
        <td colspan="3"><select class="p-product" name="product" id="product" >
          <option >Select  Equipment</option>
          <option value="Mobile Crusher">Mobile Crusher</option>
          <option value="Jaw Crusher">Jaw Crusher</option>
          <option value="Cone Crusher">Cone Crusher</option>
          <option value="Impact Crusher">Impact Crusher</option>
          <option value="Grinding Mill ">Grinding Mill </option>
          <option value="Sand Making Machine">Sand Making Machine</option>
          <option value="Sand Washing Machine">Sand Washing Machine</option>
          <option value="Sand Washing Machine">Production Line</option>
          <option value="Vibrating Screen">Vibrating Screen</option>
          <option value="Feeder">Feeder</option></select></td>
      </tr>
      <tr>
        <td class="td-h65">Materials :</td>
        <td colspan="3">
          <label><input name="mType" type="radio" value="Basalt" id="mType"/><span>Basalt</span></label> 
          <label><input name="mType" type="radio" value="Barite" id="mType"/><span>Barite</span></label> 
          <label><input name="mType" type="radio" value="Calcite" id="mType"/><span>Calcite</span></label> 
          <label><input name="mType" type="radio" value="Coal" id="mType"/><span>Coal</span></label> 
          <label><input name="mType" type="radio" value="Dolomite" id="mType"/><span>Dolomite</span></label> 
          <label><input name="mType" type="radio" value="Feldspar" id="mType"/><span>Feldspar</span></label> 
          <label><input name="mType" type="radio" value="Gypsum" id="mType"/><span>Gypsum</span></label> 
          <label><input name="mType" type="radio" value="Granite" id="mType"/><span>Granite</span></label><br /> 
          <label><input name="mType" type="radio" value="Limestone" id="mType"/><span>Limestone</span></label> 
          <label><input name="mType" type="radio" value="Quartz" id="mType"/><span>Quartz</span></label> 
          <label><input name="mType" type="radio" value="Pebble" id="mType"/><span>Pebble</span></label>
          <label><input name="mType" type="radio" value="Slag" id="mType"/><span>Slag</span></label> 
          <label><input name="mType" type="radio" value="Metallic ores" /><span>Metallic ores</span></label><label  class="other fright"><span>Other : </span><input type="text" name="mType" id="Application" class="application"/></label>
        </td>
      </tr>
      <tr>
        <td class="td-h65">Capacity :</td>
        <td colspan="3">
          <label><input name="mCap" type="radio" value="> 650T/H" id="mCap"/><span> >650T/H</span></label> 
          <label><input name="mCap" type="radio" value="450-649T/H" id="mCap"/><span>450-649T/H</span></label> 
          <label><input name="mCap" type="radio" value="400-449T/H" id="mCap"/><span>400-449T/H</span></label>
          <label><input name="mCap" type="radio" value="300-399T/H" id="mCap"/><span>300-399T/H</span></label> 
          <label><input name="mCap" type="radio" value="200-299T/H" id="mCap"/><span>200-299T/H</span></label> 
          <label><input name="mCap" type="radio" value="120-199T/H" id="mCap"/><span>120-199/H</span></label>
          <label><input name="mCap" type="radio" value="80-119T/H" id="mCap"/><span>80-119T/H</span></label><br />
          <label><input name="mCap" type="radio" value="50-79T/H" id="mCap"/><span>50-79T/H</span></label>
          <label><input name="mCap" type="radio" value="30-49T/H" id="mCap"/><span>30-49T/H</span></label>
          <label><input name="mCap" type="radio" value="< 30T/H" id="mCap"/><span> < 30T/H</span></label> 
          <label  class="other"><span>&nbsp;&nbsp;&nbsp;&nbsp;Other : </span><input type="text" name="mCap" id="capacity" class="application" placeholder="As:150T/H"/></label>
        </td>
      </tr>
      <tr>
        <td class="td-w80 td-h36">Name : </td>
        <td class="td-w317"><input type="text" name="userName" id="userName" maxlength="200" /></td>
        <td class="td-w60">E-Mail : </td>
        <td class="td-w283"><input type="text" name="userEMail" id="useremail" maxlength="200" value="Your privacy is safe!" onfocus="if(this.value=='Your privacy is safe!'){this.value='';}"  onblur="if(this.value==''){this.value='Your privacy is safe!';}" /></td>
      </tr>
      <tr>
        <td class="td-h36">Country : </td>
        <td><input type="text" name="uCountry" id="uCountry" maxlength="200" /></td>
        <td>Tel : </td>
        <td><input type="text" name="userTel" id="userTel" maxlength="200" /></td>
      </tr>
      <tr>
        <td class="td-h140">Message : </td>
        <td colspan="3"><p>Please enter your demand such as: <strong>Output size 0-10, 10-15, 15-20mm for Crushing or 75 microns (200mesh) for<br />Grinding and other requirements.</strong></p><textarea id="details" name="Message"></textarea></td>
      </tr>
      <tr>
        <td class="td-h46">&nbsp;</td>
        <td colspan="3"><input type="submit" value="Order Now" class="sub" /></td> 
      </tr>
    </table>
    </form>
    <iframe id="msgFrame" name="msgFrame" frameborder="0" style="display:none;visibility:hidden;"></iframe>
</div>
<script>
function $g(obj){return document.getElementById(obj);}

function chkInquiry(){
	if($g("product").value=="Select Equipment"){alert("Please select your equipment!");$g("product").focus();return false;}
	var mat=document.getElementsByName("mType");
		var mats="";
		for(var i=0;i<14;i++)
       {
               if(mat[i].checked)
              {
                  mats=mat[i].value;
              }
       } 
    if((mats=="")&&($g("Application").value=="")){
			alert("Please select Materials!");
			return false;
		}

	var cap=document.getElementsByName("mCap");
		var caps="";
		for(var i=0;i<10;i++)
       {
               if(cap[i].checked)
              {
                  caps=cap[i].value;
              }
       } 
    if((caps=="")&&($g("capacity").value=="")){
			alert("Please select Capacity!");
			return false;
		}

	if($g("useremail").value==""||$g("useremail").value=="Your privacy is safe!"){alert("Please input your E-Mail ! ");$g("useremail").focus();return false;}else{if(!isEmail($g("useremail").value)){alert("Your E-Mail is error ! ");$g("useremail").focus();return false;}}
	
}

function isEmail(strEmail) {
    if (strEmail.search(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/) != -1)
        return true;
    else
        return false;
}

</script>
<script language="javascript">
var cUrl=document.URL;
var fUrl=cUrl.split("?w=")[1];
$g("pWin").value=fUrl;
</script>

