<div class="f">
			<div class="f_in">
				<p class="p1"><a href="/v3/About-Kefid/">About kefid</a> | <a href="/service/">Service</a> | <a href="/v3/contact/">Contact Us</a> | <a href="/sitemap.xml" target="_blank">XML</a> | <a href="/sitemap.html" target="_blank">Sitemap</a> | <a href="https://plus.google.com/111624424440479526273?rel=author" rel="author" target="_blank">Kefid - Google+ </a></p>
				<p class="p2">Copyright &copy 2009-2018 Kefid Machinery, All rights reserved.</p>
			</div>
		</div>    

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19791416-1']);
  _gaq.push(['_setDomainName', 'kefidchina.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : '//www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script src="//www.googletagmanager.com/gtag/js?id=UA-19791416-8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-19791416-8');
</script>


<!-- Google 再营销代码 -->
<!-- Google Code for Crushers -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 993351310;
var google_conversion_label = "5raECIr5xQMQjq3V2QM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/993351310/?value=0&amp;label=5raECIr5xQMQjq3V2QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
