<!--_meta 公共模版-->
{include file="/common/_meta" /} 
<!--/meta 公共模版-->

<title>新增文章 - 资讯管理 - H-ui.admin v3.0</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="" action="http://127.0.0.1:8000/admin/model/addmodel/" method="post">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>频道ID：</label>
			<div class="formControls col-xs-8 col-sm-4">
				<input type="text" class="input-text" value="{$id}" name="id">
			</div>
			<label class="form-label col-xs-4 col-sm-1">名字标识：</label>
			<div class="formControls col-xs-8 col-sm-4">
				<input type="text" class="input-text" value="ch{$id}" id="" name="nid">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">频道名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="频道{$id}" placeholder=""  id="" name="typename">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">附加表：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="sh_addon{$id}" placeholder=""  id="" name="addtable">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 提交</button>
			</div>
		</div>
	</form>
</article>
<!-- <field:body itemname="文章内容" autofield="0" notsend="0" type="htmltext" isnull="true" islist="1" default=""  maxlength="" page="split">	
</field:body>	
<field:intro itemname="简介" autofield="1" notsend="0" type="htmltext" isnull="true" islist="0" default=""  maxlength="1000" page="">
</field:intro>
<field:crushing itemname="破碎工艺流程" autofield="1" notsend="0" type="htmltext" isnull="true" islist="0" default=""  maxlength="1000" page="">
</field:crushing>
<field:equip itemname="相关设备" autofield="1" notsend="0" type="htmltext" isnull="true" islist="0" default=""  maxlength="1000" page="">
</field:equip>
<field:appli itemname="相关案例" autofield="1" notsend="0" type="htmltext" isnull="true" islist="0" default=""  maxlength="1000" page="">
</field:appli> -->

<!--_footer 作为公共模版-->
{include file="/common/_footer" /} 
<!--/_footer /作为公共模版-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>   
<script type="text/javascript" src="/lib/webuploader/0.1.5/webuploader.min.js"></script> 

<script>

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>