<!--_meta 公共模版-->
{include file="/common/_meta" /}
<!--/meta 公共模版-->

<title>新闻管理 - 企业新闻 - H-ui.admin v3.0</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">

</head>

<body id="nnnnn">
<!--_header 公共模版-->
{include file="/common/_header" /} 
<!--/_header 公共模版-->

<!--_menu 公共模版-->
{include file="/common/_menu" /} 
<!--/_menu 公共模版-->
	<section class="Hui-article-box">
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
			<span class="c-gray en">&gt;</span>
			主要功能
			<span class="c-gray en">&gt;</span>
			模型管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
		<div class="Hui-article">
			<article class="cl pd-20">

				<div class="cl pd-5 bg-1 bk-gray">
					<span class="l">
						
						<a class="btn btn-primary radius" data-title="添加资讯" _href="article-add.html" onclick="article_add('添加资讯','article-add.html')"
						    href="javascript:;">
							<i class="Hui-iconfont">&#xe600;</i> 添加文档</a>
					</span>
				</div>
				<div class="mt-20">
					<table class="table table-border table-bordered table-bg table-hover table-sort">
						<thead>
							<tr class="text-c">
								<th width="80" class="sorting_desc">id号</th>
								<th width="120">频道名称</th>
								<th width="80">识别id</th>
								<th width="80">附加表</th>								
								<th width="120">操作</th>
							</tr>
						</thead>
						<tbody>
							{volist name="channeltype" id="channel"}
							<tr class="text-c">
								<td>{$channel.id}</td>
								<td >
									<u style="cursor:pointer" class="text-primary" onClick="article_edit('查看','article.html?id={$channel.id}')" title="查看">{$channel.typename}</u>
								</td>
								<td>{$channel.nid}</td>
								<td>{$channel.addtable}</td>
								
								<td class="f-14 td-manage">
									<a style="text-decoration:none" class="ml-5" onClick="article_edit('查看','article.html?id={$channel.id}')" href="javascript:;"
									    title="编辑">
										<i class="Hui-iconfont">&#xe6df;</i>
									</a>
									<a style="text-decoration:none" class="ml-5" onClick="article_del(this,'{$channel.id}')" href="javascript:;" title="删除">
										<i class="Hui-iconfont">&#xe6e2;</i>
									</a>
								</td>
							</tr>
							{/volist}

						</tbody>
					</table>
				</div>
			</article>
		</div>
	</section>

	<!--_footer 作为公共模版-->
	{include file="/common/_footer" /}
	<!--/_footer /作为公共模版-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
	<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript">
		$('.table-sort').dataTable({
			"aaSorting": [
				[1, "desc"]
			], //默认第几个排序
			"bStateSave": true, //状态保存
			"aoColumnDefs": [
				//{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
				{
					"orderable": false,
					"aTargets": [ 4]
				} // 不参与排序的列
			]
		});

		/*资讯-添加*/
		function article_add(title, url, w, h) {
			var index = layer.open({
				type: 2,
				title: title,
				content: 'add.html'
			});
			layer.full(index);
		}
		/*资讯-编辑*/
		function article_edit(title, url, id, w, h) {
			var index = layer.open({
				type: 2,
				title: title,
				content: url
			});
			layer.full(index);
		}
		$("#menu-article dt").addClass("selected");
		$("#menu-article dd").show();
	</script>

	<!--/请在上方写此页面业务相关的脚本-->
</body>

</html>