<aside class="Hui-aside">

	<div class="menu_dropdown bk_2">
		<dl id="menu-article">

			<dd>
				<ul>
					<li><a href="/admin/news/" title="分类列表"><i class="Hui-iconfont">&#xe6f5;</i> 分类栏目</a></li>
					<li><a href="/admin/spec/" title="专题管理"><i class="Hui-iconfont">&#xe616;</i> 专题管理</a></li>
					<li><a href="/admin/category/" title="列表管理"><i class="Hui-iconfont">&#xe72d;</i> 栏目管理</a></li>
					<li><a href="/admin/model/" title="模型管理"><i class="Hui-iconfont">&#xe72b;</i> 模型管理</a></li>
					<li><a href="/admin/admin" title="管理员列表"><i class="Hui-iconfont">&#xe62b;</i> 管理员列表（只能浏览）</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>