<!--_meta 公共模版-->
{include file="/common/_meta" /} 
<!--/meta 公共模版-->

<title>新增文章 - 资讯管理 - H-ui.admin v3.0</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
<script type="text/javascript" src="/lib/ueditor/1.4.3/ueditor.config.js"></script> 
<script type="text/javascript" src="/lib/ueditor/1.4.3/ueditor.all.js"> </script> 
<script type="text/javascript" src="/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-article-add" >
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="title" name="title" required>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>简略标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="" name="shorttitle" required>
			</div>
		</div>
		<!-- 这里需要循环显示flag -->
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">自定义属性：</label>
			<div class="formControls col-xs-8 col-sm-9">
					{volist name="arcatt" id="att"}
					<div class="check-box">
						<input 
							type="checkbox" 
							value="{$att.att}" 
							id="checkbox-{$att.sortid}" 
							name="flag[]"/>
						<label for="checkbox-{$att.sortid}"> {$att.attname}</label>
					</div>

				{/volist}
			</div>
		</div>
		<!-- 这里需要循环显示flag -->
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>缩略图：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div class="uploader-thum-container">
					<div id="fileList" class="uploader-list">
						

						<img src="" class="singleimg" style="width: 20%;max-width: 150px" />
						<input type="file" name="" class="single" id="litpic" style="display:none" />
						<div type="button" onclick="document.getElementById('litpic').click()" class="btn btn-primary radius">上传图片</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">专题模板：</label>
				<div class="formControls col-xs-4 col-sm-4">
					<input type="text" class="input-text" placeholder="" id="model" name="templet">

				</div>
				<div class="formControls col-xs-4 col-sm-4">
					<div class="btn btn-secondary radius" id="choose_m">选择模板</div>
				</div>
			</div>
		<div class="row cl">
			<label class="form-label col-sm-2"><span class="c-red">*</span>文章作者：</label>
			<div class="formControls col-sm-4">
				<input type="text" class="input-text" value="{$Request.session.userid}" placeholder="一般为登录名" id="" name="writer">
			</div>
			<label class="form-label col-xs-1 ">文章来源：</label>
			<div class="formControls col-xs-4 ">
				<input type="text" class="input-text" value="未知" placeholder="" id="" name="source">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-sm-2"><span class="c-red">*</span>分类栏目：</label>
			<div class="formControls col-sm-4"> <span class="select-box">
				<select name="typeid" class="select">
					{$wxj|raw}
				</select>
				</span> </div>
			<label class="form-label col-xs-1 "><span class="c-red">*</span>点击数：</label>
			<div class="formControls col-xs-4 ">
				<input type="text" class="input-text" value="{php} echo rand(80, 400) {/php}" placeholder="" id="" name="click" required>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>关键词：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="" name="keywords" required>(请以英文逗号“,”隔开)
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章摘要：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="description" cols="" rows="" class="textarea"  	required placeholder="请输入文章摘要" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="textarealength(this,200)" ></textarea>
			</div>
		</div>
		
		
		<!-- <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">自定义文件名：</label>
			<div class="formControls col-sm-4"> 
				<input type="text" class="input-text" name="filename" value="">（不包括后缀名如.html等）
			</div>
		</div> -->
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" d-type="addspec" type="button" id="submit"><i class="Hui-iconfont">&#xe632;</i> 提交</button>
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版-->
{include file="/common/_footer" /} 
<!--/_footer /作为公共模版-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>   
<script type="text/javascript" src="/lib/webuploader/0.1.5/webuploader.min.js"></script> 
<script type="text/javascript" src="/js/up.js"></script>

<script>
		$("#choose_m").click(function(){
			layer.open({
			type: 2,
			area: ['700px', '450px'],
			fixed: false, //不固定
			maxmin: true,
			content: 'modellist.html'
			});
		})
	</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>